
<head><title>Licensing Portal - License Search</title>
<style type="text/css">BODY { font-family: "new century schoolbook", serif } BUTTON { outline-width : thick } INPUT.hours {font-family: "verdana", sans-serif; font-weight: normal; outline-width : thick; outline-color: red; }</style>

			


<script language="JavaScript">


function MessageBuild(m,t) 
{
 	if (t!="") 
	{
    		if (m=="") 
       			m = t;
    		else
       			m = m + "\n" + t;
 	};
 	return m;
}

function LeftTrim(String,TrimChar)
{
 	String += "";         // Force argument to string.
 	TrimChar += ""       // Force argument to string.
 	if((TrimChar == "") || (!(TrimChar.length == 1)))
  		TrimChar = " "
 	if(String.length == 0)
  		return(String)
 	var Count = 0
 	for(Count = 0;Count < String.length;Count++)
 	{
  		if(!(String.charAt(Count) == TrimChar))
   			return(String.substring(Count,String.length))
 	}
 	return("")
}


function RightTrim(String,TrimChar)
{
 	String += ""        // Force argument to string.
 	TrimChar += ""      // Force argument to string.
 	if((TrimChar == "") || (!(TrimChar.length == 1)))
  	TrimChar = " "
 	if(String.length == 0)
  		return(String)
 	var Count = 0
 	for(Count = String.length -1;Count >= 0;Count--)
 	{
  		if(!(String.charAt(Count) == TrimChar))
   			return(String.substring(0,Count + 1))
 	}
 	return("")
}


function AllTrim(String,TrimChar)
{
 	String += ""        // Force argument to string.
 	TrimChar += ""      // Force argument to string.
 	if((TrimChar == "") || (!(TrimChar.length == 1)))
  		TrimChar = " "
 	return(RightTrim(LeftTrim(String,TrimChar),TrimChar))
}

function changeAddrDropDown() //Change the Address Type Drop Down Based on User Entry
{
	var formName = document.forms["reportForm"];
	var sBoardType = formName.hBoardType.value;
	if (sBoardType != "H")
	{
		if (formName.LastName.value.length > 0) //Validate Last Name
		{
			formName.AddrType.options[0].selected = true;
		}
		else
		{
			if (formName.OrgName.value.length > 0) //Validate Organization Name
			{
				formName.AddrType.options[1].selected = true;
			}
			else
			{
				formName.AddrType.options[1].selected = true;
			}
		}
	}
}

function validate() //Client side validation for search parameters
{
	var formName = document.forms["reportForm"];
	//Contains Search Types: Name, LicNbr, City, LicType
	var SearchType = formName.hSearchType.value;
	var sBoardType = formName.hBoardType.value;
	var ErrorMsg = ""

	//Validate Name Search
	if (SearchType == "Name")
	{
	//	if (sBoardType == "H") //Organization Search H&R
	//	{
	//		if (formName.OrgName.value.length <= 0) //Validate Organization Name
	//		{
	//			ErrorMsg = ErrorMsg + "; Establishment Name";
	//			alert("The Following Field(s) Are Required: " + ErrorMsg);
	//			return(false);
	//		}
	//		else
	//		{
	//			return(true);
	//		}
	//	}
	//	if (sBoardType != "H")
	//	{
			if (formName.LastName.value.length <= 0 && formName.FirstName.value.length <= 0) //Validate No First and Last Name
			{
				if (formName.OrgName.value.length <= 0) //Validate Organization Name
				{
					if (ErrorMsg.length > 0)
						ErrorMsg = ErrorMsg + "; First Name, Last Name, OR Organization Name";
					else
						ErrorMsg = "First Name, Last Name, OR Organization Name";
				}
			}
			//else
			//{
			//	if (formName.FirstName.value.length <= 0) //Validate First Name
			//	{
			//		if (ErrorMsg.length > 0)
			//			ErrorMsg = ErrorMsg + "; First Name";
			//		else
			//			ErrorMsg = "First Name";
			//	}
			//}
	//	}
		if (ErrorMsg.length > 0) //If there were any required fields missing display error message
		{
			alert("The Following Field(s) Are Required: " + ErrorMsg);
			return(false);
		}
		else
			return(true);

	}

	//Validate LicNbr Search
	if (SearchType == "LicNbr")
	{
		if (formName.LicNbr.value.length <= 0) //Validate License Number
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; License Number";
			else
				ErrorMsg = "License Number";
		}
		if (ErrorMsg.length > 0) //If there were any required fields missing display error message
		{
			alert("The Following Field(s) Are Required: " + ErrorMsg);
			return(false);
		}
		else
			return(true);
	}
	

	//Validate Location 
	if (SearchType == "City" || SearchType == "LicTyp")
	{
		//if (formName.Division.value.length <= 0) //Validate Division
		//{
		//	if (ErrorMsg.length > 0)
		//		ErrorMsg = ErrorMsg + "; Division";
		//	else
		//		ErrorMsg = "Division";
		//}
		if (formName.Board.value.length <= 1) //Validate Board
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; License Category";
			else
				ErrorMsg = "License Category";
		}
		if (formName.LicenseType.value.length <= 1) //Validate License Type
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; License Type";
			else
				ErrorMsg = "License Type";
		}
		//if (formName.AddrType.value.length <= 0) //Validate Address Type
		//{
		//	if (ErrorMsg.length > 0)
		//		ErrorMsg = ErrorMsg + "; Address Type";
		//	else
		//		ErrorMsg = "Address Type";
		//}
		if (formName.County.value.length <= 0 && formName.City.value.length <= 0 && formName.State.value != "NA") //Validate County and City
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; City or County";
			else
				ErrorMsg = "City or County";
		}
		if (formName.State.value.length <= 0) //Validate State
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; State";
			else
				ErrorMsg = "State";
		}
		if (ErrorMsg.length > 0) //If there were any required fields missing display error message
		{
			alert("The Following Field(s) Are Required: " + ErrorMsg);
			return(false);
		}
		else
			return(true);
	}

  return true; //Complete Validation
}

function ValidateSearch() //Set the hidden field based on radio button selected on first page
{
	var formName = document.forms["reportForm"];
	//Contains Search Types: Name, LicNbr, City, LicType
	var sSearchType;
	var sSID = formName.hSID.value;
	var sBoardType = formName.hBoardType.value;
	sSearchType = "Name";
	if (formName.SearchType[0].checked) //Check to see if Name Search was selected
	{
		sSearchType = "Name";
	}
	if (formName.SearchType[1].checked) //Check to see if License Number Search was selected
	{
		sSearchType = "LicNbr";
	}
	if (sBoardType != "H") //Check to see if Hotels and Restaurants Search (Don't check City or Lic Type)
	{
		if (formName.SearchType[2].checked) //Check to see if City Search was selected
		{
			sSearchType = "City";
		}
		if (formName.SearchType[3].checked) //Check to see if License Type Search was selected
		{
			sSearchType = "LicTyp";
		}
	}
	//Go to the same page in the next mode with search type and board populated
	document.location.href = "wl11.asp?mode=1&search=" + sSearchType + "&SID=" + sSID + "&brd=" + sBoardType;
}

function DDChange() //Cause form to post and set flag to not advance to next page
{
	var formName = document.forms["reportForm"]; //Get form 
	formName.hDDChange.value = "Y"; //Set drop down list flag 
	formName.submit(); //Submit the form
}

function ChangePage(sAction) //Set flag for change page action for server side processing
{
	var formName = document.forms["reportForm"];

	if(sAction==1) //Go to Page
	{
		formName.hPageAction.value = "1";
	}
	if(sAction==2) //First Page
	{
		formName.hPageAction.value = "2";
	}
	if(sAction==3) //Previous Page
	{
		formName.hPageAction.value = "3";
	}
	if(sAction==4) //Next Page
	{
		formName.hPageAction.value = "4";
	}
	if(sAction==5) //Last Page
	{
		formName.hPageAction.value = "5";
	}
	if(sAction==6) //Last Page
	{
		formName.hPageAction.value = "NS";
	}
	return(true);
}


</script>


<!--***START MAIN BODY INSERT***-->	
<!--***START TOP INCLULDE FILE***-->



<!-- <script language="JavaScript">function LaunchHelp() { // in a new window  window.open("http://bprtlcn04/help.htm",'','alwaysRaised=1,dependent=1,directories=0,height=400,hotkeys=0,location=0,menubar=0,resizable=1,screenX=200,screenY=200,scrollbars=0,status=1,toolbar=0,width=500');}</script> -->
<style type="text/css">
	<!--
	@media all
	{
	#main	{border:solid 4px #b5dea2;}
	A.main:link {color:"#0000FF"; text-decoration: none; font-size:10pt}
	A.main:visited {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.main:hover {color:"red"; text-decoration: none; font-size:10pt}
	
	A.log:link {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.log:visited {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.log:hover {color:"red"; text-decoration: none; font-size:10pt}
	
	A.footer:link {color:"#808080"; text-decoration: none; font-size:8pt}
	A.footer:visited {color:"#808080"; text-decoration: none; font-size:8pt}
	A.footer:hover {color:"0000ff"; text-decoration: none; font-size:8pt}

	td.main { line-height : 100% }
	td.main a:active { color : 052A73; text-decoration: none;  font-size:12pt}
	td.main a:link { color : 052A73; text-decoration: none;  font-size:12pt}
	td.main a:visited { color : A9A9A9; text-decoration: none;  font-size:12pt}
	td.main a:hover { color : 4682B4; text-decoration: none;  font-size:12pt}
	}
	
li {
font-size:.8em;
padding:3px;
}

li.list {
font-size:1em;
padding:3px;
}

th.list	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:.8em;
	text-align: left;
	padding:5px;
	background-color: #e3e3e3
}

td.list	{

	font-size:.8em;
	padding:3px;
}

td {
    color:rgb(16,26,88);
    font-family:verdana, arial, helvetica, sans-serif;
    font-size:.8em;
}

h1	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-top:0;
	margin-top:0px;
	margin-bottom:.5em;
	text-transform:uppercase; 
}

h2	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-bottom:.2em;
	padding-top:0;
	margin-bottom:0;
	margin-top:0;
}

th	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-bottom:.2em;
	padding-top:0;
	margin-bottom:0;
	margin-top:0;
}

a:link.hnav {
	color:white;
	text-decoration:none;
}

a:visited.hnav {
	color:white;
	text-decoration:none;
}

a:hover.hnav {
	text-decoration:underline;
	color:white;
}

a:active.hnav {
	text-decoration:underline;
	color:white;
}
	
a:link	{
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:visited	{
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:hover	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:active	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}
a.main:link {font-weight:normal;}
a.main:visited {font-weight:normal;}
a.main:hover {font-weight:normal;}
a.main:active {font-weight:normal;}

	#contact	{
	clear:both;
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	padding-top:10px;
	text-align:center;
	border-top: 2px dotted #d7ebff;
	width:99%;
    }
    .contact    {
    font-size:.75em;
    }
    #footer	{
	clear:both;
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:.55em;
	margin:auto;
	text-align:center;
	width:100%;
	padding-top:5px;
    }
	
	@media print
	{
	#main   {border:none; 
	               width: 7in;
	               margin-left: -.25in;}
	.leftNav {display:none;}
	.banner {display:none;}
	body	{background-image:none;
	        background-color:#ffffff;}
	-->
</style>



<BODY bgColor=#336699 background="/images/bg.gif" leftmargin="50" rightmargin="50">


<TABLE cellSpacing=0 cellPadding=0 width="100%" align=left border=0 bgcolor=#ffffff
LEFTMARGIN="0" id="main">
	<tr>
		<td>
			<table CELLSPACING="0" CELLPADDING="0" WIDTH="100%" ALIGN="CENTER" BORDER="0" VALIGN="top" bgcolor="ffffff">
  				<tr VALIGN="BOTTOM">	
					<!--BEGIN MY FLORIDA LOGO--> 
   					<td noWrap width="188px" valign="bottom" class="leftNav">
   					<table cellSpacing="0" cellPadding="0" width="100%" border="0">
   					<tr>
   						<td><a href="http://www.myfloridalicense.com/dbpr/"><img ALT="Click here to access the department's home page" SRC="/images/top_logo1.gif" BORDER="0" class="leftNav"></a></td>
					</tr>
					<tr bgcolor="#949CA9" align="left">
					<td>
					
						<a href="/logon.asp?SID=&Trans=Logoff" title="Click here to Log On or Log Off." class="log">
						<font face="verdana" size="2"><b>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/off.gif" border="0" align="absmiddle" alt="" class="leftNav">&nbsp;Log On</b></font></a>
					
					</td>
					</tr>
					</table>
					</td>
					<!--END MY FLORIDA LOGO-->
					<!--START BANNER & TOP NAV & LOGGED IN AS-->
					<td width="100%" bgcolor="#ffffff" class="banner">
						<table cellSpacing="0" cellPadding="0" width="100%" border="0">
							<tr>
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
								<td align="center">
									<img alt="Banner" src="/images/banner2.gif">
								</td>

							</tr>
							<tr bgcolor="#949CA9">
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
								<td align="center" nowrap>
									<a href="http://www.myfloridalicense.com/dbpr/" title="Click here to go to the DBPR Home Page." class="main">
										<font face="verdana" size="2"><b>Home</b></font></a></td>
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
							</tr>
						</table>
					</td>
					<!--END BANNER & TOP NAV & LOGGED IN AS-->
				</tr>
   				<tr VALIGN="TOP">
					<!--LEFT NAVIGATION-->
   					<td noWrap width="188px" class="leftNav" bgcolor="#b6c9dc">
						<table cellpadding="0" cellspacing="0" border="0" width="185px">
							<tr>

								<td BGCOLOR="#b6c9dc"><img SRC="/images/cntr_top_float_main.gif" border="0" width="186" valign="top" alt=""></td>
                			</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/wl11.asp?mode=0&SID=" title="Click here to search for an individual or organization."><font face="verdana">Search for a Licensee</font></a></font></td>
							</tr>
							
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/intentions2.asp?SID=" title="Click here to apply for a new license."><font face="verdana">Apply for a License</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/viewapps.asp?SID=" title="Click here to view your application status."><font face="verdana">View Application Status</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/examSchedule.asp?SID=" title="Click here to find out more information about your examination registration or the results."><font face="verdana">Find Exam Information</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/entercomplaint.asp?SID=" title="Click here to submit a complaint to the Department."><font face="verdana">File a Complaint</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/delinquency_search.asp?SID=" title="Click here to search the Alcoholic Beverages and Tobacco delinquency search"><font face="verdana">AB&amp;T Delinquent<br>&nbsp;&nbsp;&nbsp; Invoice &amp; Activity<br>&nbsp;&nbsp;&nbsp; List Search</font></a></font></td>
							</tr>
														<tr>

								<td BGCOLOR="#b6c9dc"><img height="50px" alt="" src="/images/cleardot.gif" border="0" /></td>
							</tr>
							
						</table>
					</td>

				
					<!--END LEFT NAV-->
<!--***END TOP INCLULDE FILE***-->
<body>
	<td colspan="2" valign="top">
		<!--START LOGGED IN AS & TIME BAR-->
		<table cellSpacing="0" cellPadding="0" width="100%" border="0">
			<tr>
	    			<td COLSPAN="2" noWrap bgColor="#dbebf8"><img height="6" alt="Clear Dot Image" src="portal/images/cleardot.gif" width="10" border="0"></td>
			</tr>
			<tr>
				<td align="left" bgcolor="#dbebf8" class="subject">&nbsp;</td>
				<td align="right" bgcolor="#dbebf8"><font face="arial, helvetica, verdana" size="-2"><em>11:28:56 AM&nbsp;8/14/2017</em></font></td>
			</tr>
			<tr>
		        	<td COLSPAN="2" noWrap bgColor="#dbebf8"><img height="6" alt="Clear Dot Image" src="portal/images/cleardot.gif" width="10" border="0"></td>
        		</tr>
		</table>
		<!--END LOGGED IN AS & TIME BAR-->
		<table cellSpacing="0" cellPadding="0" width="100%" border="1">
			<tr></tr>
		</table>
<form method="post" name="reportForm"  onSubmit="return validate();" action="wl11.asp?mode=3&search=&SID=&brd=&typ=N">	
		<table cellspacing="0" cellpadding="5" border="0" width="100%" align="center">
			<tr>
				<td align="middle">
					<table width="100%" border="0" align="left" cellspacing="0" cellpadding="3">
						<tr>
							<td colspan="2">
								<input TYPE="hidden" NAME="hSID" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchType" VALUE=""/>
								<input TYPE="hidden" NAME="hLastName" VALUE=""/>
								<input TYPE="hidden" NAME="hFirstName" VALUE=""/>
								<input TYPE="hidden" NAME="hMiddleName" VALUE=""/>
								<input TYPE="hidden" NAME="hOrgName" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchOpt" VALUE="Organization"/>
								<input TYPE="hidden" NAME="hSearchOpt2" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchAltName" VALUE="Alt"/>
								<input TYPE="hidden" name="hSearchPartName" value=""/>
								<input TYPE="hidden" name="hSearchFuzzy" value=""/>
								<input TYPE="hidden" NAME="hDivision" VALUE="ALL"/>
								<input TYPE="hidden" NAME="hBoard" VALUE="05"/>
								<input TYPE="hidden" NAME="hLicenseType" VALUE="0501"/>
								<input TYPE="hidden" NAME="hSpecQual" VALUE=""/>
								<input TYPE="hidden" NAME="hAddrType" VALUE=""/>
								<input TYPE="hidden" NAME="hCity" VALUE=""/>
								<input TYPE="hidden" NAME="hCounty" VALUE="13"/>
								<input TYPE="hidden" NAME="hState" VALUE="FL"/>
								<input TYPE="hidden" NAME="hLicNbr" VALUE=""/>
								<input TYPE="hidden" NAME="hAction"/>
								<input TYPE="hidden" NAME="hCurrPage" VALUE="1"/>
								<input TYPE="hidden" NAME="hTotalPages" VALUE="60"/>
								<input TYPE="hidden" NAME="hTotalRecords" VALUE="2991"/>
								<input TYPE="hidden" NAME="hPageAction"/>
								<input TYPE="hidden" NAME="hDDChange"/>
								<input TYPE="hidden" NAME="hBoardType" VALUE=""/>
								<input TYPE="hidden" NAME="hLicTyp" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchHistoric" VALUE=""/>
								<input TYPE="hidden" NAME="hRecsPerPage" VALUE="50"/>
								<font face="verdana" SIZE="-1" color="Red">
								<strong></strong>
								</font>
							</td>
						</tr>
<tr><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><p/><center><b>Data Contained In Search Results Is Current As Of 08/14/2017 11:27 AM.</b></center><p/></font></td></tr>
						<tr>
							<td colspan="2">
								<font face="verdana" SIZE="-1" color="#336699">
									<strong>
										Search Results
									</strong>
									<p/>
								</font>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<font face="verdana" SIZE="-1" color="#000000">
									<strong>
										Please see our <a href="/glossary.asp?SID=">glossary of terms</a> for an explanation of the license status shown in these search results.
									</strong>
									<p/>
								</font>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<font face="verdana" SIZE="-1" color="#000000">
									<strong>
										For additional information, including any complaints or discipline, click on the name.
									</strong>
									<p/>
								</font>
							</td>
						</tr>
						<tr>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="4" bgcolor="#b6c9dc">
									<tr height="20">
	
										<td colspan="1" width="20%" align="center">
											<font face="verdana" color="#000000" size="-1">
												<span title="This column represents the type of license held by the individual or establishment."><strong>License Type</strong></span>
											</font>
										</td>		
	
									
										<td align="center">
											<font face="verdana" color="#000000" size="-1">
												<span title="This column represents the name of the individual or establishment that holds the license."><strong>Name</strong></span>
											</font>
										</td>
									
										<td align="center">
											<font face="verdana" color="#000000" size="-1">
												<span title="This column represents the type of name being displayed, such as DBA (Doing Business As)."><strong>Name<br/>Type</strong></span>
											</font>
										</td>
									
										<td align="center">
											<font face="verdana" color="#000000" size="-1">
												<span title="This column represents the license number and type of license held by the individual or establishment."><strong>License<br/>Number/<br/>Rank</strong></span>
											</font>
										</td>
								
										<td align="center">
											<font face="verdana" color="#000000" size="-1">
												<span title="This column represents the license status and expiration date of the license held by the individual or establishment."><strong>Status/Expires</strong></span>
											</font>
										</td>
	
									</tr>
									
								
								
									<tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=BC7310E26C5933C99A5701A7F1E37DD1'>ABSHIRE, SHARON E</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0097696<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2002</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>6614 TILLMAN RD  PANAMA CITY, FL 32409</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=324C8E23191FF36A285EB0A46DB6DA70'>ACRE, RILDA J</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0135282<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/1994</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>404 W 39TH CT  LYNN HAVEN, FL 32444</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=75291E2DFDE542884172DFB457227776'>ADAMS, CAROLYN A</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0060069<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>License Authority Voided, <br/></font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>PO BOX 4093  PANAMA CITY, FL 324018093</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=57F40BD85B5617BBD1E5B17049302866'>ADAMS, CONSTANCE LEANNE</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0199766<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2002</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>1925 DANFORD AVE  PANAMA CITY, FL 32405</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=C9535EFD21C43EC378ED33FAB27334D1'>ADAMS, FRANCESCA D</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0235036<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2007</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>601 DAVID AVE  PANAMA CITY, FL 32401</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=E51ACC70C3CB180BD57614587BF4C17B'>ADAMS, KIMBERLY F</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0149133<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Delinquent, Active<br/>10/31/2015</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>11909 HARRINGTON RD  FOUNTAIN, FL 32438</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=09A530DC34D766770D22BA25F1257784'>ADAMS, LEATRISE MARIE</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL1229632<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2013</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>230 S KIMBREL DRIVE  PANAMA CITY, FL 32404</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=444021423A14E8DCB8669F5BC66E1A5D'>ADAMS, LINDA ALESE</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0149130<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/1998</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>P O BOX 1542  LYNN HAVEN, FL 324446342</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=D1E86C944E853495511430D3B694FAE7'>ADCOX, CAROLE</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0145240<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/1994</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>P O BOX 12051  PANAMA CITY, FL 324019051</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=7161D99CEECB7A84988BF0CBD3DB9601'>ADKINS, DEBROHA</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0175092<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>06/30/1990</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>7104 BIG DADDY DR #E-5  PANAMA CITY, FL 324075542</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=86170829C7AC7A51E63BBAE63C7D365C'>ADKINS, NELLY R</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0135283<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/1999</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>6934 MESSER ROAD  PANAMA CITY, FL 324044541</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=B056D0F6D47BF20A0A23588BDFC7F63D'>ADKINS, TINA D</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0118462<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>06/30/1984</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>305 LINDA AVE  PANAMA CITY, FL 324013266</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=9B3DB34ACB53C3026330399816B40F68'>ADMIRE, RUBY MAE</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0033595<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>06/30/1984</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>340 S MACARTHUR AVE  PANAMA CITY, FL 324013945</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=2306F42218FD8351C042A6208823C8EB'>AHLBERG, GINA Y</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL1228695<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>10/31/2017</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>109 RAZZ WAY  PANAMA CITY BEACH, FL 32408</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=867FD91E5B6AF04C54F087095D3DD7D8'>AKE, DIANE</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0067833<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2003</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>8024 OAKVIEW DR  PANAMA CITY, FL 324045228</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=9188CE8B31533CB79440AAA404816856'>AKINS, BRITTANY ROCHELLE</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><br/></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Application in Progress<br/></font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>PO BOX 19472  PANAMA CITY BEACH, FL 32417</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=1DA0CC1EBCC759BF797FF36C4EDD103D'>AKINS, RICARDO</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL1205032<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Current, Active<br/>10/31/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>2514 W. 15 ST.  PANAMA CITY, FL 32401</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=D2E8575E2D239278F1D1FD341EE7C162'>AKINS, SHEILA F</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0069929<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/1994</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>1209 FLORIDA AVE  PANAMA CITY, FL 324012219</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=7C88DC6799C32CC87C4BAA70CDAE0E12'>ALDAY, JUDY ANN</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0132869<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2005</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>2001 CREAMER RD  SOUTHPORT, FL 32409</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=0C73C86C3301E901BFD1389379B864C3'>ALDEA, STEPHANIE ANN</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL1237301<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2014</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>3733 ORMOND AVE  PANAMA CITY, FL 32405</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=B809EF807EC4F55E24C9C04BE775E935'>ALDERMAN, GLADYS LORENE</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0214873<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/1998</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>12211 HAPPYVILLE ROAD  YOUNGSTOWN, FL 32466</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=E609BB90A4089EE9FAC2E556D310FE6C'>ALFORD, ARLETHA B</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0166096<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2004</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>205 E 10TH ST  PANAMA CITY, FL 32401</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=68607AEC563889715832A0A32C59ED39'>ALFORD, TARA</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><br/></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Application in Progress<br/></font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>506 E PINE FOREST DR  LYNN HAVEN, FL 32444</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=DF43D5E905297FA6BF5A9F22E7D68C12'>ALLAN, BEVERLY F</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0060500<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>10/31/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>509 BUNKERS COVE RD  PANAMA CITY, FL 324013915</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=A8425B1D7A4A7C05AA46F49BF7056E79'>ALLEN, JOAN B</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0172564<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2010</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>219 SUKOSHI DR  PANAMA CITY, FL 324047733</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=CEF40CA9541458DAC8EAB63B66BC8AEA'>ALLEN, KRISTI LYNETTE</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL1251626<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>10/31/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>8426 THOMAS DRIVE  PANAMA CITY BEACH, FL 32408</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=56368B06909C81802701C9DBD8C75B7C'>ALLEN, KRISTI LYNETTE</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL1205538<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2012</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>8426 THOMAS DRIVE  PANAMA CITY BEACH, FL 32408</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=D2E647F3EB146975E1C23943A8454863'>ALLEN, MELISSA ANN</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0225476<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>10/31/2017</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>60 FREEDOM WAY   PANAMA CITY BEACH, FL 32413</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=B82C15480AAC848D02C1BE2E9414E151'>ALLEN, PATRICIA ANN</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0106099<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>06/30/1980</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>3155A VOODOO DR  PANAMA CITY, FL 324031251</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=BBBC626EDA2F671724FF9FB4143CD19B'>ALLEN, SHIRLEY A</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0238906<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2011</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>2114 E NORWOOD DR  PANAMA CITY, FL 32405</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=083B971283D6BC0091A2334FB0689018'>ALLEN, SHIRLEY A</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0131780<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/1994</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>2114-E NORWOOD DR  PANAMA CITY, FL 32405</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=9CB639F3515C0496A2C0137286C607CA'>ALLEN, WANDA L</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0041717<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/1994</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>905 E 2ND CT  PANAMA CITY, FL 324013829</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=45CBE9CC2D40D081F90FD1BA48BF1D4F'>AMARILLAS, BARBARA M</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0115422<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>06/30/1984</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>17 COVE GDNS  PANAMA CITY, FL 324015919</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=DB3C00C6D246DC986C5F5AC3DECE8007'>AMISON, MARIE MICHELLE</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0164832<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>10/31/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>1836 N EAST AVE  PANAMA CITY, FL 32405</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=46676DFDFBF74FB05684446B10FC02F1'>AMMONS, JENNIFER MICHELLE</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL1245909<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Probation, Active<br/>10/31/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>2175 FRANKFORD AVE #F104  PANAMA CITY, FL 32405</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=B812614735668A7BD0E9618F6E125857'>AMMONS, LEIGH ANNA</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0120212<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2000</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>4528 BRANNON RD  PANAMA CITY, FL 32404</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=C80F3B5DA2056EECE110376AE98FDF34'>AMORESANO, HALINA</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0126171<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>06/30/1984</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>2708 REDWOOD ST  PANAMA CITY, FL 324086345</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=3248112C7B64A9DA3BB47808E1C3F671'>AMOSS, VICTORIA E</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0069058<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2000</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>4000 E 12TH CT  PANAMA CITY, FL 324045821</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=3BC1F1C2F0D9B0C883A80CEE7260ABE5'>ANDERSON, ASHLEY PAIGE</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL1205137<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Current, Active<br/>10/31/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>307 CAROLYN AVE  PANAMA CITY BEACH, FL 32407</font></td></tr><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the mail associated with a particular license will be sent (if different from the Main or License Location addresses).'><b>Mailing Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>307 CAROLYN AVE  PANAMA CITY BEACH, FL 32407</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=4A832BEF7A7FC54DBE77FF50966FC503'>ANDERSON, AUBREY LYNN</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL1229953<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>10/31/2017</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>128 JOSEPH CIRCLE  PANAMA CITY, FL 32409</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=B6AE1C91379523F7D88E6D5CC9D66FD6'>ANDERSON, CAROL C</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0066982<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>06/30/1980</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>700 TRANSMITTER RD #22  PANAMA CITY, FL 324015392</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=4D6D4B7E0F9B5E20B39FF29AAF90484F'>ANDERSON, CHERIE</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0214168<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>10/31/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>16224 E LULLWATER DR  PANAMA CITY BEACH, FL 32413</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=DDE61691E4423FC7A619A734EF9B8DD3'>ANDERSON, DONALD H</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0116212<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2000</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>2906 MALONE DR  PANAMA CITY, FL 324053839</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=8CD6BDB83B17E418F847555C8EB0A483'>ANDERSON, ELISE RHONDA</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL1221939<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>10/31/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>5405 DUNERIDGE ROAD  PANAMA CITY, FL 32404</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=E55079052CDB87568C648265D7316922'>ANDERSON, HANNAH CHRISTINE</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><br/></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Eligible for Exam<br/></font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>918 VIRGINIA COURT  PANAMA CITY, FL 32404</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=50FF6A069F52A14592B5B4AB462F6661'>ANDERSON, JOYCE ELLEN</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0092536<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>06/30/1980</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>2305 N PALO ALTO AVE  PANAMA CITY, FL 324055236</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=22DC7BEF7B31CDB6E8C4B4FD17D89A8F'>ANDERSON, KIMBERLY D.</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL0210842<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2002</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>3717 E 7TH ST  PANAMA CITY, FL 32401</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=782A37F91F3A0547018AC4010B551086'>ANDERSON, KIMBERLY M.</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL0215226<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2009</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>4452 HUCKLEBERRY LANE  PANAMA CITY, FL 32409</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=12E54CF96081C3C54C5A919A9A744A10'>ANDERSON, KRISTI P</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>CL1185019<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2009</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>2523 MOUND AVE  PANAMA CITY, FL 32405</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=D134A92ACE5E731A35F5798D968938A3'>ANDERSON, MARYANN MARGARET</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>CL1209065<br/>Cosmetologist</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Null and Void, <br/>10/31/2013</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>2318 KINGS AVENUE  PANAMA CITY, FL 32405</font></td></tr></table></td></tr>
									<tr>
										<td colspan="7" align="right" bgcolor="#FFFFFF">
											<font face="verdana" SIZE="-1" color="#000000">
												Page 1 of 60 
												<input name="Page" size="5" tabindex="1"  maxlength="4">
												<input type="image" name="SearchGo" tabindex="2" src="portal/images/goButton.gif" value="Search" alt="Click here to use go to the selected page." onClick="return ChangePage(1);" border="0">
												<input type="image" name="SearchFirst" tabindex="3"  src="portal/images/doubleArrowLeftButton.gif" value="Search" alt="Click here to use go to the first page." onClick="return ChangePage(2);" border="0">
												<input type="image" name="SearchBack" tabindex="4" src="portal/images/singleArrowLeftButton.gif" value="Search" alt="Click here to use go back one page." onClick="return ChangePage(3);" border="0">
												<input type="image" name="SearchForward" tabindex="5" src="portal/images/singleArrowRightButton.gif" value="Search" alt="Click here to use go forward one page." onClick="return ChangePage(4);" border="0">
												<input type="image" name="SearchLast" tabindex="6" src="portal/images/doubleArrowRightButton.gif" value="Search" alt="Click here to use go to the last page." onClick="return ChangePage(5);" border="0">
												<input type="image" name="SearchRefine" tabindex="7" src="portal/images/backButton.gif" value="Search" alt="Click here to refine your search options." onClick="return ChangePage(6);" border="0">
												<a href="wl11.asp?mode=0&SID=&brd=&typ=N" alt="Click here to perform a new search."><img src="portal/images/newSearchButton.gif" border="0"/></a>
											</font>

										</td>
									</tr>
	
									<tr>
										<td colspan="7" align="left" bgcolor="#FFFFFF">
											<font face="verdana" SIZE="-2" color="#000000">
												<b>* denotes </b><br/>
												&nbsp;&nbsp;&nbsp;&nbsp; Main Address - This address is the Primary Address on file.<br/>
				 								&nbsp;&nbsp;&nbsp;&nbsp; Mailing Address - This is the address where the mail associated with a particular license will be sent (if different from the Main or License Location addresses). <br/> 
												&nbsp;&nbsp;&nbsp;&nbsp; License Location Address - This is the address where the place of business is physically located.<br/>
 
											</font>
										</td>
									</tr>

								</table>
							</td>
						</tr>					
			


</tr>

					</table>
</form>
<!--***************************    END MAIN CONTENT HERE   ****************************-->
<!--***END MAIN BODY INSERT***-->
<!--***START BOTTOM INCLUDE FILE***-->
</td></tr></TABLE></tr><tr>
    <td bgcolor="#ffffff">
        <img height="24" src="/images/cleardot.gif" width="150" border="0"></td>
    <td bgcolor="#ffffff">
        <img height="24" src="/images/cleardot.gif" width="150" border="0"></td>
</tr>
<tr>
    <td colspan="3" align="center">
                    <div id="contact" class="contact">
                        <a target=_blank href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2601+Blair+Stone+Road,+Tallahassee+FL+32399&sll=30.425336,-84.248805&ie=UTF8&hq=&hnear=2601+Blair+Stone+Rd,+Tallahassee,+Florida+32301&ll=30.425336,-84.248805&z=16">2601 Blair Stone Road, Tallahassee FL 32399</a> 
                        :: Email: <a href="http://www.myfloridalicense.com/contactus">Customer Contact Center</a> :: Customer Contact Center: 850.487.1395</div></td>
                <td align="right" valign="bottom">
    </td>
</tr>
</TABLE><!--START DISCLAIMER--><table align="center">
    <tr align="CENTER">
        <td>
            <img height="2" src="/images/cleardot.gif" width="150" border="0"></td>
        <td>
            <!--***************************************************************************** * NAME:	footer.asp	** DESCRIPTION:	THIS PAGE CONTAINS THE DISCLAIMER.	* ******************************************************************************--><!-- BEGIN FOOTER -->
        </td>
    </tr>
</table>
<!-- END DISCLAIMER-->
</TD></tr></table></td></tr></table>
<div id="footer"><br />
	The State of Florida is an AA/EEO employer. <a href="http://www.myflorida.com/myflorida/copyright.html">Copyright 2007-2010 State of Florida.</a>  <a href="http://www.myflorida.com/myflorida/privacy.html">Privacy Statement</a><!-- :: Site Map--><br />	    <br />
	    Under Florida law, email addresses are public records. If you do not want your email address released in response to a public-records request, do not send electronic mail to this entity. Instead, contact the office by phone or by traditional mail. 
	    If you have any questions, please contact 850.487.1395.  *Pursuant to Section 455.275(1), Florida Statutes, effective October 1, 2012, licensees licensed under Chapter 455, F.S. must provide the Department with an email address if they have one.  
	    The emails provided may be used for official communication with the licensee.  However email addresses are public record. If you do not wish to supply a personal address, please provide the Department with an email address which can be made available to the public.  
	    Please see our <a href="http://www.myfloridalicense.com/dbpr/DBPR_Chapter455_FloridaStatutes.html">Chapter 455</a> page to determine if you are affected by this change.
</div>
</body></html><!--***END BOTTOM INCLUDE FILE***-->

</table>

</body>
</html>
