
<head><title>Licensing Portal - License Search</title>
<style type="text/css">BODY { font-family: "new century schoolbook", serif } BUTTON { outline-width : thick } INPUT.hours {font-family: "verdana", sans-serif; font-weight: normal; outline-width : thick; outline-color: red; }</style>

			


<script language="JavaScript">


function MessageBuild(m,t) 
{
 	if (t!="") 
	{
    		if (m=="") 
       			m = t;
    		else
       			m = m + "\n" + t;
 	};
 	return m;
}

function LeftTrim(String,TrimChar)
{
 	String += "";         // Force argument to string.
 	TrimChar += ""       // Force argument to string.
 	if((TrimChar == "") || (!(TrimChar.length == 1)))
  		TrimChar = " "
 	if(String.length == 0)
  		return(String)
 	var Count = 0
 	for(Count = 0;Count < String.length;Count++)
 	{
  		if(!(String.charAt(Count) == TrimChar))
   			return(String.substring(Count,String.length))
 	}
 	return("")
}


function RightTrim(String,TrimChar)
{
 	String += ""        // Force argument to string.
 	TrimChar += ""      // Force argument to string.
 	if((TrimChar == "") || (!(TrimChar.length == 1)))
  	TrimChar = " "
 	if(String.length == 0)
  		return(String)
 	var Count = 0
 	for(Count = String.length -1;Count >= 0;Count--)
 	{
  		if(!(String.charAt(Count) == TrimChar))
   			return(String.substring(0,Count + 1))
 	}
 	return("")
}


function AllTrim(String,TrimChar)
{
 	String += ""        // Force argument to string.
 	TrimChar += ""      // Force argument to string.
 	if((TrimChar == "") || (!(TrimChar.length == 1)))
  		TrimChar = " "
 	return(RightTrim(LeftTrim(String,TrimChar),TrimChar))
}

function changeAddrDropDown() //Change the Address Type Drop Down Based on User Entry
{
	var formName = document.forms["reportForm"];
	var sBoardType = formName.hBoardType.value;
	if (sBoardType != "H")
	{
		if (formName.LastName.value.length > 0) //Validate Last Name
		{
			formName.AddrType.options[0].selected = true;
		}
		else
		{
			if (formName.OrgName.value.length > 0) //Validate Organization Name
			{
				formName.AddrType.options[1].selected = true;
			}
			else
			{
				formName.AddrType.options[1].selected = true;
			}
		}
	}
}

function validate() //Client side validation for search parameters
{
	var formName = document.forms["reportForm"];
	//Contains Search Types: Name, LicNbr, City, LicType
	var SearchType = formName.hSearchType.value;
	var sBoardType = formName.hBoardType.value;
	var ErrorMsg = ""

	//Validate Name Search
	if (SearchType == "Name")
	{
	//	if (sBoardType == "H") //Organization Search H&R
	//	{
	//		if (formName.OrgName.value.length <= 0) //Validate Organization Name
	//		{
	//			ErrorMsg = ErrorMsg + "; Establishment Name";
	//			alert("The Following Field(s) Are Required: " + ErrorMsg);
	//			return(false);
	//		}
	//		else
	//		{
	//			return(true);
	//		}
	//	}
	//	if (sBoardType != "H")
	//	{
			if (formName.LastName.value.length <= 0 && formName.FirstName.value.length <= 0) //Validate No First and Last Name
			{
				if (formName.OrgName.value.length <= 0) //Validate Organization Name
				{
					if (ErrorMsg.length > 0)
						ErrorMsg = ErrorMsg + "; First Name, Last Name, OR Organization Name";
					else
						ErrorMsg = "First Name, Last Name, OR Organization Name";
				}
			}
			//else
			//{
			//	if (formName.FirstName.value.length <= 0) //Validate First Name
			//	{
			//		if (ErrorMsg.length > 0)
			//			ErrorMsg = ErrorMsg + "; First Name";
			//		else
			//			ErrorMsg = "First Name";
			//	}
			//}
	//	}
		if (ErrorMsg.length > 0) //If there were any required fields missing display error message
		{
			alert("The Following Field(s) Are Required: " + ErrorMsg);
			return(false);
		}
		else
			return(true);

	}

	//Validate LicNbr Search
	if (SearchType == "LicNbr")
	{
		if (formName.LicNbr.value.length <= 0) //Validate License Number
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; License Number";
			else
				ErrorMsg = "License Number";
		}
		if (ErrorMsg.length > 0) //If there were any required fields missing display error message
		{
			alert("The Following Field(s) Are Required: " + ErrorMsg);
			return(false);
		}
		else
			return(true);
	}
	

	//Validate Location 
	if (SearchType == "City" || SearchType == "LicTyp")
	{
		//if (formName.Division.value.length <= 0) //Validate Division
		//{
		//	if (ErrorMsg.length > 0)
		//		ErrorMsg = ErrorMsg + "; Division";
		//	else
		//		ErrorMsg = "Division";
		//}
		if (formName.Board.value.length <= 1) //Validate Board
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; License Category";
			else
				ErrorMsg = "License Category";
		}
		if (formName.LicenseType.value.length <= 1) //Validate License Type
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; License Type";
			else
				ErrorMsg = "License Type";
		}
		//if (formName.AddrType.value.length <= 0) //Validate Address Type
		//{
		//	if (ErrorMsg.length > 0)
		//		ErrorMsg = ErrorMsg + "; Address Type";
		//	else
		//		ErrorMsg = "Address Type";
		//}
		if (formName.County.value.length <= 0 && formName.City.value.length <= 0 && formName.State.value != "NA") //Validate County and City
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; City or County";
			else
				ErrorMsg = "City or County";
		}
		if (formName.State.value.length <= 0) //Validate State
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; State";
			else
				ErrorMsg = "State";
		}
		if (ErrorMsg.length > 0) //If there were any required fields missing display error message
		{
			alert("The Following Field(s) Are Required: " + ErrorMsg);
			return(false);
		}
		else
			return(true);
	}

  return true; //Complete Validation
}

function ValidateSearch() //Set the hidden field based on radio button selected on first page
{
	var formName = document.forms["reportForm"];
	//Contains Search Types: Name, LicNbr, City, LicType
	var sSearchType;
	var sSID = formName.hSID.value;
	var sBoardType = formName.hBoardType.value;
	sSearchType = "Name";
	if (formName.SearchType[0].checked) //Check to see if Name Search was selected
	{
		sSearchType = "Name";
	}
	if (formName.SearchType[1].checked) //Check to see if License Number Search was selected
	{
		sSearchType = "LicNbr";
	}
	if (sBoardType != "H") //Check to see if Hotels and Restaurants Search (Don't check City or Lic Type)
	{
		if (formName.SearchType[2].checked) //Check to see if City Search was selected
		{
			sSearchType = "City";
		}
		if (formName.SearchType[3].checked) //Check to see if License Type Search was selected
		{
			sSearchType = "LicTyp";
		}
	}
	//Go to the same page in the next mode with search type and board populated
	document.location.href = "wl11.asp?mode=1&search=" + sSearchType + "&SID=" + sSID + "&brd=" + sBoardType;
}

function DDChange() //Cause form to post and set flag to not advance to next page
{
	var formName = document.forms["reportForm"]; //Get form 
	formName.hDDChange.value = "Y"; //Set drop down list flag 
	formName.submit(); //Submit the form
}

function ChangePage(sAction) //Set flag for change page action for server side processing
{
	var formName = document.forms["reportForm"];

	if(sAction==1) //Go to Page
	{
		formName.hPageAction.value = "1";
	}
	if(sAction==2) //First Page
	{
		formName.hPageAction.value = "2";
	}
	if(sAction==3) //Previous Page
	{
		formName.hPageAction.value = "3";
	}
	if(sAction==4) //Next Page
	{
		formName.hPageAction.value = "4";
	}
	if(sAction==5) //Last Page
	{
		formName.hPageAction.value = "5";
	}
	if(sAction==6) //Last Page
	{
		formName.hPageAction.value = "NS";
	}
	return(true);
}


</script>


<!--***START MAIN BODY INSERT***-->	
<!--***START TOP INCLULDE FILE***-->



<!-- <script language="JavaScript">function LaunchHelp() { // in a new window  window.open("http://bprtlcn04/help.htm",'','alwaysRaised=1,dependent=1,directories=0,height=400,hotkeys=0,location=0,menubar=0,resizable=1,screenX=200,screenY=200,scrollbars=0,status=1,toolbar=0,width=500');}</script> -->
<style type="text/css">
	<!--
	@media all
	{
	#main	{border:solid 4px #b5dea2;}
	A.main:link {color:"#0000FF"; text-decoration: none; font-size:10pt}
	A.main:visited {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.main:hover {color:"red"; text-decoration: none; font-size:10pt}
	
	A.log:link {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.log:visited {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.log:hover {color:"red"; text-decoration: none; font-size:10pt}
	
	A.footer:link {color:"#808080"; text-decoration: none; font-size:8pt}
	A.footer:visited {color:"#808080"; text-decoration: none; font-size:8pt}
	A.footer:hover {color:"0000ff"; text-decoration: none; font-size:8pt}

	td.main { line-height : 100% }
	td.main a:active { color : 052A73; text-decoration: none;  font-size:12pt}
	td.main a:link { color : 052A73; text-decoration: none;  font-size:12pt}
	td.main a:visited { color : A9A9A9; text-decoration: none;  font-size:12pt}
	td.main a:hover { color : 4682B4; text-decoration: none;  font-size:12pt}
	}
	
li {
font-size:.8em;
padding:3px;
}

li.list {
font-size:1em;
padding:3px;
}

th.list	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:.8em;
	text-align: left;
	padding:5px;
	background-color: #e3e3e3
}

td.list	{

	font-size:.8em;
	padding:3px;
}

td {
    color:rgb(16,26,88);
    font-family:verdana, arial, helvetica, sans-serif;
    font-size:.8em;
}

h1	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-top:0;
	margin-top:0px;
	margin-bottom:.5em;
	text-transform:uppercase; 
}

h2	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-bottom:.2em;
	padding-top:0;
	margin-bottom:0;
	margin-top:0;
}

th	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-bottom:.2em;
	padding-top:0;
	margin-bottom:0;
	margin-top:0;
}

a:link.hnav {
	color:white;
	text-decoration:none;
}

a:visited.hnav {
	color:white;
	text-decoration:none;
}

a:hover.hnav {
	text-decoration:underline;
	color:white;
}

a:active.hnav {
	text-decoration:underline;
	color:white;
}
	
a:link	{
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:visited	{
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:hover	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:active	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}
a.main:link {font-weight:normal;}
a.main:visited {font-weight:normal;}
a.main:hover {font-weight:normal;}
a.main:active {font-weight:normal;}

	#contact	{
	clear:both;
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	padding-top:10px;
	text-align:center;
	border-top: 2px dotted #d7ebff;
	width:99%;
    }
    .contact    {
    font-size:.75em;
    }
    #footer	{
	clear:both;
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:.55em;
	margin:auto;
	text-align:center;
	width:100%;
	padding-top:5px;
    }
	
	@media print
	{
	#main   {border:none; 
	               width: 7in;
	               margin-left: -.25in;}
	.leftNav {display:none;}
	.banner {display:none;}
	body	{background-image:none;
	        background-color:#ffffff;}
	-->
</style>



<BODY bgColor=#336699 background="/images/bg.gif" leftmargin="50" rightmargin="50">


<TABLE cellSpacing=0 cellPadding=0 width="100%" align=left border=0 bgcolor=#ffffff
LEFTMARGIN="0" id="main">
	<tr>
		<td>
			<table CELLSPACING="0" CELLPADDING="0" WIDTH="100%" ALIGN="CENTER" BORDER="0" VALIGN="top" bgcolor="ffffff">
  				<tr VALIGN="BOTTOM">	
					<!--BEGIN MY FLORIDA LOGO--> 
   					<td noWrap width="188px" valign="bottom" class="leftNav">
   					<table cellSpacing="0" cellPadding="0" width="100%" border="0">
   					<tr>
   						<td><a href="http://www.myfloridalicense.com/dbpr/"><img ALT="Click here to access the department's home page" SRC="/images/top_logo1.gif" BORDER="0" class="leftNav"></a></td>
					</tr>
					<tr bgcolor="#949CA9" align="left">
					<td>
					
						<a href="/logon.asp?SID=&Trans=Logoff" title="Click here to Log On or Log Off." class="log">
						<font face="verdana" size="2"><b>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/off.gif" border="0" align="absmiddle" alt="" class="leftNav">&nbsp;Log On</b></font></a>
					
					</td>
					</tr>
					</table>
					</td>
					<!--END MY FLORIDA LOGO-->
					<!--START BANNER & TOP NAV & LOGGED IN AS-->
					<td width="100%" bgcolor="#ffffff" class="banner">
						<table cellSpacing="0" cellPadding="0" width="100%" border="0">
							<tr>
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
								<td align="center">
									<img alt="Banner" src="/images/banner2.gif">
								</td>

							</tr>
							<tr bgcolor="#949CA9">
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
								<td align="center" nowrap>
									<a href="http://www.myfloridalicense.com/dbpr/" title="Click here to go to the DBPR Home Page." class="main">
										<font face="verdana" size="2"><b>Home</b></font></a></td>
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
							</tr>
						</table>
					</td>
					<!--END BANNER & TOP NAV & LOGGED IN AS-->
				</tr>
   				<tr VALIGN="TOP">
					<!--LEFT NAVIGATION-->
   					<td noWrap width="188px" class="leftNav" bgcolor="#b6c9dc">
						<table cellpadding="0" cellspacing="0" border="0" width="185px">
							<tr>

								<td BGCOLOR="#b6c9dc"><img SRC="/images/cntr_top_float_main.gif" border="0" width="186" valign="top" alt=""></td>
                			</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/wl11.asp?mode=0&SID=" title="Click here to search for an individual or organization."><font face="verdana">Search for a Licensee</font></a></font></td>
							</tr>
							
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/intentions2.asp?SID=" title="Click here to apply for a new license."><font face="verdana">Apply for a License</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/viewapps.asp?SID=" title="Click here to view your application status."><font face="verdana">View Application Status</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/examSchedule.asp?SID=" title="Click here to find out more information about your examination registration or the results."><font face="verdana">Find Exam Information</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/entercomplaint.asp?SID=" title="Click here to submit a complaint to the Department."><font face="verdana">File a Complaint</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/delinquency_search.asp?SID=" title="Click here to search the Alcoholic Beverages and Tobacco delinquency search"><font face="verdana">AB&amp;T Delinquent<br>&nbsp;&nbsp;&nbsp; Invoice &amp; Activity<br>&nbsp;&nbsp;&nbsp; List Search</font></a></font></td>
							</tr>
														<tr>

								<td BGCOLOR="#b6c9dc"><img height="50px" alt="" src="/images/cleardot.gif" border="0" /></td>
							</tr>
							
						</table>
					</td>

				
					<!--END LEFT NAV-->
<!--***END TOP INCLULDE FILE***-->
<body>
	<td colspan="2" valign="top">
		<!--START LOGGED IN AS & TIME BAR-->
		<table cellSpacing="0" cellPadding="0" width="100%" border="0">
			<tr>
	    			<td COLSPAN="2" noWrap bgColor="#dbebf8"><img height="6" alt="Clear Dot Image" src="portal/images/cleardot.gif" width="10" border="0"></td>
			</tr>
			<tr>
				<td align="left" bgcolor="#dbebf8" class="subject">&nbsp;</td>
				<td align="right" bgcolor="#dbebf8"><font face="arial, helvetica, verdana" size="-2"><em>1:18:37 PM&nbsp;8/13/2017</em></font></td>
			</tr>
			<tr>
		        	<td COLSPAN="2" noWrap bgColor="#dbebf8"><img height="6" alt="Clear Dot Image" src="portal/images/cleardot.gif" width="10" border="0"></td>
        		</tr>
		</table>
		<!--END LOGGED IN AS & TIME BAR-->
		<table cellSpacing="0" cellPadding="0" width="100%" border="1">
			<tr></tr>
		</table>
<form method="post" name="reportForm"  onSubmit="return validate();" action="wl11.asp?mode=2&search=&SID=&brd=&typ=N">	
		<table cellspacing="0" cellpadding="5" border="0" width="100%" align="center">
			<tr>
				<td align="middle">
					<table width="100%" border="0" align="left" cellspacing="0" cellpadding="3">
						<tr>
							<td colspan="2">
								<input TYPE="hidden" NAME="hSID" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchType" VALUE=""/>
								<input TYPE="hidden" NAME="hLastName" VALUE=""/>
								<input TYPE="hidden" NAME="hFirstName" VALUE=""/>
								<input TYPE="hidden" NAME="hMiddleName" VALUE=""/>
								<input TYPE="hidden" NAME="hOrgName" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchOpt" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchOpt2" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchAltName" VALUE=""/>
								<input TYPE="hidden" name="hSearchPartName" value=""/>
								<input TYPE="hidden" name="hSearchFuzzy" value=""/>
								<input TYPE="hidden" NAME="hDivision" VALUE="ALL"/>
								<input TYPE="hidden" NAME="hBoard" VALUE="400"/>
								<input TYPE="hidden" NAME="hLicenseType" VALUE=""/>
								<input TYPE="hidden" NAME="hSpecQual" VALUE=""/>
								<input TYPE="hidden" NAME="hAddrType" VALUE=""/>
								<input TYPE="hidden" NAME="hCity" VALUE=""/>
								<input TYPE="hidden" NAME="hCounty" VALUE=""/>
								<input TYPE="hidden" NAME="hState" VALUE=""/>
								<input TYPE="hidden" NAME="hLicNbr" VALUE=""/>
								<input TYPE="hidden" NAME="hAction"/>
								<input TYPE="hidden" NAME="hCurrPage" VALUE=""/>
								<input TYPE="hidden" NAME="hTotalPages" VALUE=""/>
								<input TYPE="hidden" NAME="hTotalRecords" VALUE=""/>
								<input TYPE="hidden" NAME="hPageAction"/>
								<input TYPE="hidden" NAME="hDDChange"/>
								<input TYPE="hidden" NAME="hBoardType" VALUE=""/>
								<input TYPE="hidden" NAME="hLicTyp" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchHistoric" VALUE=""/>
								<input TYPE="hidden" NAME="hRecsPerPage" VALUE="10Name"/>
								<font face="verdana" SIZE="-1" color="Red">
								<strong></strong>
								</font>
							</td>
						</tr>

						<tr>
							<td colspan="2">
								<font face="verdana" SIZE="-1" color="#336699">
									
											<strong>Search License by Name</strong>
										
									&nbsp;&nbsp;
									<A href="SearchHelp.html" target="_blank" title="Search Help Topics"><img border=0 alt="FAQ" src="portal/images/iButton.gif"></A>
									<p/>
								</font>
							</td>
						</tr>
	
						<tr>
							<td colspan="2" bgcolor="#b6c9dc">
								<font face="verdana" SIZE="-1" color="#000000">
									<strong>License Information</strong>
								</font>
							</td>
						</tr>
	
						<tr>
							<td colspan="1" bgcolor="#e9edf2" width=25%>
								<font face="verdana" SIZE="-1" color="#005574">
									&nbsp;&nbsp;&nbsp;&nbsp;License Category:
								</font>
							</td>
							<td colspan="1" bgcolor="#e9edf2" width=75%>
								<font face="verdana" SIZE="-1" color="#005574">
									<select name="Board" width="50%" tabindex="1" value="400" onchange="return DDChange();" >
										<option>&nbsp;</option><OPTION value='400' selected='selected'>Alcoholic Beverages &amp; Tobacco</OPTION><OPTION value='02'>Architecture &amp; Interior Design</OPTION><OPTION value='59'>Asbestos Contractors and Consultants</OPTION><OPTION value='60'>Athlete Agents</OPTION><OPTION value='48'>Auctioneers</OPTION><OPTION value='03'>Barbers</OPTION><OPTION value='600'>Boxing, Kick Boxing &amp; Mixed Martial Arts</OPTION><OPTION value='50'>Building Code Administrators and Inspectors</OPTION><OPTION value='830'>CTMH Other Entities</OPTION><OPTION value='01'>Certified Public Accounting</OPTION><OPTION value='38'>Community Association Managers and Firms</OPTION><OPTION value='800'>Condominiums, Cooperatives, Timeshares, &amp; Multi-Site Timeshares</OPTION><OPTION value='06'>Construction Industry</OPTION><OPTION value='05'>Cosmetology</OPTION><OPTION value='33'>Drugs, Devices and Cosmetics</OPTION><OPTION value='08'>Electrical Contractors</OPTION><OPTION value='210'>Elevator Safety</OPTION><OPTION value='63'>Employee Leasing Companies</OPTION><OPTION value='09'>Engineers</OPTION><OPTION value='75'>Farm Labor</OPTION><OPTION value='53'>Geologists</OPTION><OPTION value='23'>Harbor Pilots</OPTION><OPTION value='04'>Home Inspectors</OPTION><OPTION value='840'>Homeowners' Associations</OPTION><OPTION value='200'>Hotels and Restaurants</OPTION><OPTION value='74'>Labor Organizations</OPTION><OPTION value='820'>Land Sales</OPTION><OPTION value='13'>Landscape Architecture</OPTION><OPTION value='810'>Mobile Homes</OPTION><OPTION value='07'>Mold-Related Services</OPTION><OPTION value='100'>Pari-Mutuel Wagering</OPTION><OPTION value='101'>Pari-Mutuel Wagering - Slots</OPTION><OPTION value='25'>Real Estate</OPTION><OPTION value='64'>Real Estate Appraisers</OPTION><OPTION value='49'>Talent Agencies</OPTION><OPTION value='26'>Veterinary Medicine</OPTION><OPTION value='85'>Yacht and Ships</OPTION>
									</select>
								</font>
							</td>
						</tr>
						<tr>
							<td colspan="1" bgcolor="#e9edf2" width=25%>
								<font face="verdana" SIZE="-1" color="#005574">
									&nbsp;&nbsp;&nbsp;&nbsp;License Type:
								</font>
							</td>
							<td colspan="1" bgcolor="#e9edf2" width=75%>
								<font face="verdana" SIZE="-1" color="#005574">
									<select name="LicenseType" width="50%" tabindex="1" value="" onchange="return DDChange();" >
										<option>&nbsp;</option><OPTION value='4014'>Bottle Club</OPTION><OPTION value='4011'>Brand Registrant</OPTION><OPTION value='4008'>Brands</OPTION><OPTION value='4004'>Common Carriers</OPTION><OPTION value='4005'>Manufacturers/Distributors</OPTION><OPTION value='4003'>Permits</OPTION><OPTION value='4007'>Pool Buying</OPTION><OPTION value='4088'>Quota Drawing Business Entry</OPTION><OPTION value='4087'>Quota Drawing Individual Entry</OPTION><OPTION value='4006'>Retail Beverage</OPTION><OPTION value='4012'>Retail Tobacco Products Dealer</OPTION><OPTION value='4013'>Salesperson Wine &amp; Spirits</OPTION><OPTION value='4001'>Tobacco Wholesaler's, Distributors &amp; Exp</OPTION>
									</select>
									&nbsp;
									<A href="glossary.asp#lictype" target="_blank" title="Help Topics"><img border=0 alt="FAQ" src="portal/images/iButton.gif"></A>
								</font>
							</td>
						</tr>
		
						<tr>
							<td colspan="1" bgcolor="#e9edf2" width=25%>
								<font face="verdana" SIZE="-1" color="#005574">
									&nbsp;&nbsp;&nbsp;&nbsp;City:
								</font>
							</td>
							<td colspan="1" bgcolor="#e9edf2" width=75%>
								<font face="verdana" SIZE="-1" color="#005574">
									<input name="City" width="50%" tabindex="1" value="" maxlength="50">
								</font>
							</td>
						</tr>
						<tr>
							<td colspan="1" bgcolor="#e9edf2" width=25%>
								<font face="verdana" SIZE="-1" color="#005574">
									&nbsp;&nbsp;&nbsp;&nbsp;County:
								</font>
							</td>
							<td colspan="1" bgcolor="#e9edf2" width=75%>
								<font face="verdana" SIZE="-1" color="#005574">
									<select name="County" width="50%" tabindex="1" value="">
										<OPTION value=''></OPTION><OPTION value='11'>Alachua</OPTION><OPTION value='12'>Baker</OPTION><OPTION value='13'>Bay</OPTION><OPTION value='14'>Bradford</OPTION><OPTION value='15'>Brevard</OPTION><OPTION value='16'>Broward</OPTION><OPTION value='17'>Calhoun</OPTION><OPTION value='18'>Charlotte</OPTION><OPTION value='19'>Citrus</OPTION><OPTION value='20'>Clay</OPTION><OPTION value='21'>Collier</OPTION><OPTION value='22'>Columbia</OPTION><OPTION value='23'>Dade</OPTION><OPTION value='24'>DeSoto</OPTION><OPTION value='25'>Dixie</OPTION><OPTION value='26'>Duval</OPTION><OPTION value='27'>Escambia</OPTION><OPTION value='28'>Flagler</OPTION><OPTION value='80'>Foreign</OPTION><OPTION value='29'>Franklin</OPTION><OPTION value='30'>Gadsden</OPTION><OPTION value='31'>Gilchrist</OPTION><OPTION value='32'>Glades</OPTION><OPTION value='33'>Gulf</OPTION><OPTION value='34'>Hamilton</OPTION><OPTION value='35'>Hardee</OPTION><OPTION value='36'>Hendry</OPTION><OPTION value='37'>Hernando</OPTION><OPTION value='38'>Highlands</OPTION><OPTION value='39'>Hillsborough</OPTION><OPTION value='40'>Holmes</OPTION><OPTION value='41'>Indian River</OPTION><OPTION value='42'>Jackson</OPTION><OPTION value='43'>Jefferson</OPTION><OPTION value='44'>Lafayett</OPTION><OPTION value='45'>Lake</OPTION><OPTION value='46'>Lee</OPTION><OPTION value='47'>Leon</OPTION><OPTION value='48'>Levy</OPTION><OPTION value='49'>Liberty</OPTION><OPTION value='50'>Madison</OPTION><OPTION value='51'>Manatee</OPTION><OPTION value='52'>Marion</OPTION><OPTION value='53'>Martin</OPTION><OPTION value='54'>Monroe</OPTION><OPTION value='55'>Nassau</OPTION><OPTION Value='56'>Okaloosa</OPTION><OPTION value='57'>Okeechobee</OPTION><OPTION value='58'>Orange</OPTION><OPTION value='59'>Osceola</OPTION><OPTION value='79'>Out of State</OPTION><OPTION value='60'>Palm Beach</OPTION><OPTION value='61'>Pasco</OPTION><OPTION value='62'>Pinellas</OPTION><OPTION value='63'>Polk</OPTION><OPTION value='64'>Putnam</OPTION><OPTION value='67'>Santa Rosa</OPTION><OPTION value='68'>Sarasota</OPTION><OPTION value='69'>Seminole</OPTION><OPTION value='65'>St. Johns</OPTION><OPTION value='66'>St. Lucie</OPTION><OPTION value='70'>Sumter</OPTION><OPTION value='71'>Suwannee</OPTION><OPTION value='72'>Taylor</OPTION><OPTION value='73'>Union</OPTION><OPTION value='78'>Unknown</OPTION><OPTION value='74'>Volusia</OPTION><OPTION value='75'>Wakulla</OPTION><OPTION value='76'>Walton</OPTION><OPTION value='77'>Washington</OPTION>
									</select>
								</font>
							</td>
						</tr>
						<tr>
							<td colspan="1" bgcolor="#e9edf2" width=25%>
								<font face="verdana" SIZE="-1" color="#005574">
									&nbsp;&nbsp;&nbsp;&nbsp;State:
								</font>
							</td>
							<td colspan="1" bgcolor="#e9edf2" width=75%>
								<font face="verdana" SIZE="-1" color="#005574">
									<select name="State" width="50%" tabindex="1" value="">
										<OPTION  value=''></OPTION><OPTION  value='AL'>Alabama</OPTION><OPTION  value='AK'>Alaska</OPTION><OPTION  value='AS'>American Samoa</OPTION><OPTION  value='AZ'>Arizona</OPTION><OPTION  value='AR'>Arkansas</OPTION><OPTION  value='AA'>Armed Force-Americas</OPTION><OPTION  value='AE'>Armed Force-Europe</OPTION><OPTION  value='AP'>Armed Force-Pacific</OPTION><OPTION  value='CA'>California</OPTION><OPTION  value='CZ'>Canal Zone</OPTION><OPTION  value='CO'>Colorado</OPTION><OPTION  value='CT'>Connecticut</OPTION><OPTION  value='DE'>Delaware</OPTION><OPTION  value='DC'>District of Columbia</OPTION><OPTION  value='FM'>Federated States</OPTION><OPTION  value='FL'>Florida</OPTION><OPTION  value='FA'>Foreign PO Americas</OPTION><OPTION  value='FE'>Foreign PO Europe</OPTION><OPTION  value='FP'>Foreign PO Pacific</OPTION><OPTION  value='GA'>Georgia</OPTION><OPTION  value='GU'>Guam</OPTION><OPTION  value='HI'>Hawaii</OPTION><OPTION  value='ID'>Idaho</OPTION><OPTION  value='IL'>Illinois</OPTION><OPTION  value='IN'>Indiana</OPTION><OPTION  value='IA'>Iowa</OPTION><OPTION  value='KS'>Kansas</OPTION><OPTION  value='KY'>Kentucky</OPTION><OPTION  value='LA'>Louisiana</OPTION><OPTION  value='ME'>Maine</OPTION><OPTION  value='MH'>Marshall Islands</OPTION><OPTION  value='MD'>Maryland</OPTION><OPTION  value='MA'>Massachusetts</OPTION><OPTION  value='MI'>Michigan</OPTION><OPTION  value='MN'>Minnesota</OPTION><OPTION  value='MS'>Mississippi</OPTION><OPTION  value='MO'>Missouri</OPTION><OPTION  value='MT'>Montana</OPTION><OPTION  value='NE'>Nebraska</OPTION><OPTION  value='NV'>Nevada</OPTION><OPTION  value='NH'>New Hampshire</OPTION><OPTION  value='NJ'>New Jersey</OPTION><OPTION  value='NM'>New Mexico</OPTION><OPTION  value='NY'>New York</OPTION><OPTION  value='NC'>North Carolina</OPTION><OPTION  value='ND'>North Dakota</OPTION><OPTION  value='OH'>Ohio</OPTION><OPTION  value='OK'>Oklahoma</OPTION><OPTION  value='OR'>Oregon</OPTION><OPTION  value='PW'>Palau</OPTION><OPTION  value='PA'>Pennsylvania</OPTION><OPTION  value='PR'>Puerto Rico</OPTION><OPTION  value='RI'>Rhode Island</OPTION><OPTION  value='SC'>South Carolina</OPTION><OPTION  value='SD'>South Dakota</OPTION><OPTION  value='TN'>Tennessee</OPTION><OPTION  value='TX'>Texas</OPTION><OPTION  value='99'>Unknown</OPTION><OPTION  value='UT'>Utah</OPTION><OPTION  value='VT'>Vermont</OPTION><OPTION  value='VI'>Virgin Island</OPTION><OPTION  value='VA'>Virginia</OPTION><OPTION  value='WA'>Washington</OPTION><OPTION  value='WV'>West Virginia</OPTION><OPTION  value='WI'>Wisconsin</OPTION><OPTION  value='WY'>Wyoming</OPTION>
									</select>
								</font>
							</td>
						</tr>
	
						<tr>
							<td colspan="2" bgcolor="#e9edf2" width=25%>
								<font face="verdana" SIZE="-1" color="#005574">
									&nbsp;&nbsp;&nbsp;<input type="checkbox" name="SearchHistoric" value="Yes" >Include Historic Licenses</input><br/>
								</font>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<font face="verdana" SIZE="-1" color="#000000">
									&nbsp;<br/>
								</font>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="right">
								<font face="verdana" SIZE="-1" color="#000000">
									Licenses Per Page:&nbsp;
									<select name="RecsPerPage" width="50%" tabindex="1"">
										<OPTION value='10'>10</OPTION>
										<OPTION value='20'>20</OPTION>
										<OPTION value='30'>30</OPTION>
										<OPTION value='40'>40</OPTION>
										<OPTION value='50'>50</OPTION>
									</select>
									&nbsp;&nbsp;
									<input type="image" name="Search1" src="portal/images/searchButton.gif" value="Search" alt="Click here to use the selected search type." border="0">
									<a href="wl11.asp?mode=1&SID=&brd=&search=&typ=N" alt="Click here to clear the search."><img src="portal/images/clearButton.gif" border="0"/></a>
									<a href="wl11.asp?mode=0&SID=&brd=&typ=N" alt="Click here to return to the search type."><img src="portal/images/backButton.gif" border="0"/></a>
								</font>
							</td>
						</tr>

</tr>

					</table>
</form>
<!--***************************    END MAIN CONTENT HERE   ****************************-->
<!--***END MAIN BODY INSERT***-->
<!--***START BOTTOM INCLUDE FILE***-->
</td></tr></TABLE></tr><tr>
    <td bgcolor="#ffffff">
        <img height="24" src="/images/cleardot.gif" width="150" border="0"></td>
    <td bgcolor="#ffffff">
        <img height="24" src="/images/cleardot.gif" width="150" border="0"></td>
</tr>
<tr>
    <td colspan="3" align="center">
                    <div id="contact" class="contact">
                        <a target=_blank href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2601+Blair+Stone+Road,+Tallahassee+FL+32399&sll=30.425336,-84.248805&ie=UTF8&hq=&hnear=2601+Blair+Stone+Rd,+Tallahassee,+Florida+32301&ll=30.425336,-84.248805&z=16">2601 Blair Stone Road, Tallahassee FL 32399</a> 
                        :: Email: <a href="http://www.myfloridalicense.com/contactus">Customer Contact Center</a> :: Customer Contact Center: 850.487.1395</div></td>
                <td align="right" valign="bottom">
    </td>
</tr>
</TABLE><!--START DISCLAIMER--><table align="center">
    <tr align="CENTER">
        <td>
            <img height="2" src="/images/cleardot.gif" width="150" border="0"></td>
        <td>
            <!--***************************************************************************** * NAME:	footer.asp	** DESCRIPTION:	THIS PAGE CONTAINS THE DISCLAIMER.	* ******************************************************************************--><!-- BEGIN FOOTER -->
        </td>
    </tr>
</table>
<!-- END DISCLAIMER-->
</TD></tr></table></td></tr></table>
<div id="footer"><br />
	The State of Florida is an AA/EEO employer. <a href="http://www.myflorida.com/myflorida/copyright.html">Copyright 2007-2010 State of Florida.</a>  <a href="http://www.myflorida.com/myflorida/privacy.html">Privacy Statement</a><!-- :: Site Map--><br />	    <br />
	    Under Florida law, email addresses are public records. If you do not want your email address released in response to a public-records request, do not send electronic mail to this entity. Instead, contact the office by phone or by traditional mail. 
	    If you have any questions, please contact 850.487.1395.  *Pursuant to Section 455.275(1), Florida Statutes, effective October 1, 2012, licensees licensed under Chapter 455, F.S. must provide the Department with an email address if they have one.  
	    The emails provided may be used for official communication with the licensee.  However email addresses are public record. If you do not wish to supply a personal address, please provide the Department with an email address which can be made available to the public.  
	    Please see our <a href="http://www.myfloridalicense.com/dbpr/DBPR_Chapter455_FloridaStatutes.html">Chapter 455</a> page to determine if you are affected by this change.
</div>
</body></html><!--***END BOTTOM INCLUDE FILE***-->

</table>

</body>
</html>
