

<SCRIPT LANGUAGE="JavaScript">
<!--
	
var NS4 = (document.layers);
var IE4 = (document.all);
var week_days = [ 'Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa' ];
var months = [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug',
               'Sep', 'Oct', 'Nov', 'Dec' ];
			   
var today = new Date();
var curr_day = today.getDate();
var curr_month = today.getMonth();

var curr_year = today.getYear();

var years  = new Array((curr_year + 5) - 2001);
for (i = 0; i < years.length; i++) years[i] = 2001 + i;


var default_left = 100;          
var default_top = 80;            
var default_width = 185;         
var default_height = 195;        
var default_cell_width = 20;     
var default_cell_height = 20;    
var default_bg_color = 'e9edf2'; 
var cal_offset_y = 32;           

function calendar(is_popup, win, handler, left, top, width, height,
  cell_width, cell_height, bg_color, sel_month, sel_year)
{
  this.is_popup = is_popup;
  
  this.parent = null;
  
  this.window = null;
  
  if (this.is_popup)
  
    this.parent = win;
    
  else
  
    this.window = win;
    
  this.handler = handler;
  
  this.left = left;
  
  this.top = top;
  
  this.width = width || default_width;
  
  this.height = height || default_height;
  
  this.cell_width = cell_width || default_cell_width;
  
  this.cell_height = cell_height || default_cell_height;
  
  this.bg_color = bg_color || default_bg_color;
  
  this.sel_month = sel_month;
  
  this.sel_year = sel_year;
  
  if (this.sel_month == null) this.sel_month = curr_month;
  
  if (this.sel_year == null) this.sel_year = curr_year;
  
  this.days = new Array(42);
  
  this.cal = null;
  
  this.day_table = null;

  calendar.prototype.create_cal = calendar_create_cal_IE4;
  
  calendar.prototype.show_days = calendar_show_days_IE4;
  
  calendar.prototype.popup_cal = calendar_popup_cal;
  
  calendar.prototype.new_month = calendar_new_month;
  
  calendar.prototype.prev_month = calendar_prev_month;
  
  calendar.prototype.next_month = calendar_next_month;
  
  calendar.prototype.clicked_day = calendar_clicked_day;
  
  //Variables for IE
  
  if (calendar.prototype.id == null) calendar.prototype.id = 0;
  
  calendar.prototype.id++;
  
  this.id = calendar.prototype.id;
  
  this.cal_id = 'cal' + this.id;
  
  this.day_table_id = 'day_table' + this.id;
  
  this.select_form_id = 'select_form' + this.id;
}

function calendar_create_cal_IE4()
{
  if (this.is_popup)
  {
    var x = this.parent.screenLeft + (this.left || default_left);
    var y = this.parent.screenTop + (this.top || default_top);
    this.window = this.parent.open("", this.cal_id, 'left=' + x + ',top=' + y + ',width=' + this.width + ',height=' + this.height + ',scrollbars=no, resizeable=no');
    this.window.document.open();
	this.window.document.writeln('<body alink="#000000" vlink="#000000" link="#000000">');
	if (window.top.document.forms[0].elements['flag'].value == 'from')
	    this.window.document.writeln('<title>Date From</title>');
	else
		this.window.document.writeln('<title>Date To</title>');
    this.window.document.close();
  }

  this.window.document.body.insertAdjacentHTML("beforeEnd", "<div id='" + this.cal_id + "' style='position:absolute'></div>");
  this.cal = this.window.document.all[this.cal_id];
  if (this.is_popup)
  {
    this.cal.style.pixelLeft = 0;
    this.cal.style.pixelTop = 0;
  }
  else
  {
    this.cal.style.pixelLeft = this.left || default_left;
    this.cal.style.pixelTop = this.top || default_top;
  }
  this.cal.style.zIndex = 1;
  this.cal.style.width = this.width;
  this.cal.style.height = this.height;
  this.cal.style.backgroundColor = this.bg_color;
  this.cal.style.visibility = 'visible';
  this.cal.picker = this;
  var str =
  "<center>\n" +
  "<table border='0'>\n" +
  "  <tr>\n" +
  "    <td align='center'>\n" +
  "      <form name='" + this.select_form_id + "'>\n" +
  "        &nbsp;<select name='month_sel' onChange='document.all." + this.cal_id + ".picker.new_month()'>\n";
  for (i = 0; i < months.length; i++)
    str += "        <option value='" + i + "'>" + months[i] + "\n";
  str += "        </select>\n" +
  "        <select name='year_sel' onChange='document.all." + this.cal_id + ".picker.new_month()'>\n";
  for (i = 0; i < years.length; i++)
    str += "        <option value='" + years[i] + "'>" + years[i] + "\n";
  str += "        </select>&nbsp;\n" +
  "      </form>\n" +
  "    </td>\n" +
  "  </tr>\n" +
  "</table>\n" +
  "</center>\n" +
  "<div id='" + this.day_table_id + "' style='position:absolute'></div>\n";
  this.cal.innerHTML = str;
  this.day_table = this.window.document.all[this.day_table_id];
  this.day_table.style.pixelLeft = 4;
  this.day_table.style.pixelTop = cal_offset_y;
  this.day_table.style.zIndex = 2;
  this.day_table.style.visibility = 'inherit';
  this.day_table.picker = this;
}


function calendar_show_days_IE4()
{
  var month_select = this.window.document.forms[this.select_form_id]['month_sel'];
  var year_select = this.window.document.forms[this.select_form_id]['year_sel'];
  
  // check the date field and load the day_select value
  
  var day_select_from = window.top.document.forms[0].elements['dayFrom'].value;
  var last_month_from = window.top.document.forms[0].elements['monthFrom'].value;
  var last_year_from = window.top.document.forms[0].elements['yearFrom'].value;
	
  var day_select_to = window.top.document.forms[0].elements['dayTo'].value;
  var last_month_to = window.top.document.forms[0].elements['monthTo'].value;
  var last_year_to = window.top.document.forms[0].elements['yearTo'].value;
	
  month_select.selectedIndex = this.sel_month;
  year_select.selectedIndex = this.sel_year - years[0];

  var days_in_month = (new Date(this.sel_year, this.sel_month+1, 0)).getDate();
  var day_of_week_first = (new Date(this.sel_year, this.sel_month, 1)).getDay();
  for (i = 0; i < this.days.length; i++) this.days[i] = 0;
  for (i = 0; i < days_in_month; i++)
    this.days[i + day_of_week_first] = i + 1;

  var str =
  "<center>\n" +
  "<table border='0'>\n" +
  "<form>\n" +
  "  <tr>\n";
  for (j = 0; j < week_days.length; j++)
  {
    str += "    <td bgcolor='#b6c9dc' align='center' valign='middle' width='" + this.cell_width + "'><font color='#000000'><strong>" + week_days[j] + "</strong></font></td>\n";
  }
  str += "  </tr>\n";
  for (i = 0; i < 6; i++)
  {
    str += "  <tr>\n";
    for(j = 0; j < 7; j++)
    {
      var val = this.days[i * 7 + j];
      if (this.days[i * 7 + j])
		 {
		  if (val == day_select_from && this.sel_month == last_month_from && this.sel_year == last_year_from)
		      str += "    <td align='center' valign='middle' height='" + this.cell_height + "'><a href='' onClick='document.all." + this.day_table_id + ".picker.clicked_day(" + this.days[i * 7 + j] + ")'><strong>[" + val + "]</strong></a></td>\n";
		  else
			 if (val == day_select_to && this.sel_month == last_month_to && this.sel_year == last_year_to)
				 str += "    <td align='center' valign='middle' height='" + this.cell_height + "'><a href='' onClick='document.all." + this.day_table_id + ".picker.clicked_day(" + this.days[i * 7 + j] + ")'><strong>[" + val + "]</strong></a></td>\n";
			 else
				if ((window.top.document.forms[0].elements['flag'].value == 'from' && day_select_to > "" && val > day_select_to && this.sel_month >= last_month_to && this.sel_year >= last_year_to) || (window.top.document.forms[0].elements['flag'].value == 'to' && day_select_from > "" && ((val < day_select_from && this.sel_month == last_month_from && this.sel_year == last_year_from) || (this.sel_month < last_month_from && this.sel_year <= last_year_from) || (this.sel_year < last_year_from))))
				    str += "    <td align='center' valign='middle' height='" + this.cell_height + "'>" + val + "</td>\n";
                else
				   //if (val > curr_day && this.sel_month == curr_month && this.sel_year == curr_year)
				   //    str += "    <td align='center' valign='middle' height='" + this.cell_height + "'>" + val + "</td>\n";
				   //else
		    	       str += "    <td align='center' valign='middle' height='" + this.cell_height + "'><a href='' onClick='document.all." + this.day_table_id + ".picker.clicked_day(" + this.days[i * 7 + j] + ")'>" + val + "</a></td>\n";
			
		  }
      else
         str += "    <td>&nbsp;</td>\n";
    }
    str += "  </tr>\n";
  }
  str += 
  "</form>\n" +
  "</table>\n" +
  "</center>\n";
  this.day_table.innerHTML = str;
}

function calendar_popup_cal()
{
  if (this.is_popup)
  {
    if (this.cal && this.window && !this.window.closed)
      this.window.close();
    else
    {
      this.create_cal();
      this.show_days();
    }
  }
  else
  {
    if (!this.cal)
    {
      this.create_cal();
      this.show_days();
    }
    else
    {
      if (NS4)
      {
        if (this.cal.visibility == 'show')
          this.cal.visibility = 'hide';
        else
          this.cal.visibility = 'show';
      }
      else
      {
        if (this.cal.style.visibility == 'visible')
          this.cal.style.visibility = 'hidden';
        else
          this.cal.style.visibility = 'visible';
      }
    }
  }
}

function calendar_new_month()
{
  var month_select = this.cal.document.forms[this.select_form_id]['month_sel'];
  this.sel_month = new Number(month_select.options[month_select.selectedIndex].value);
  var year_select = this.cal.document.forms[this.select_form_id]['year_sel'];
  this.sel_year = new Number(year_select.options[year_select.selectedIndex].value);
		
  if (this.sel_year == curr_year)
  {
  	 if (this.sel_month > curr_month)
	 {
	    this.sel_month = curr_month;
		this.show_days();
	 }
     else
  		this.show_days();
  }
  else
  	this.show_days();	
}

function calendar_prev_month()
{
  this.sel_month--;
  if (this.sel_month < 0)
  {
    this.sel_month = 11;
    this.sel_year--;
  }
  this.show_days();
}

function calendar_next_month()
{
  this.sel_month++;
  if (this.sel_month > 11)
  {
    this.sel_month = 0;
    this.sel_year++;
  }
  this.show_days();
}

function calendar_clicked_day(day)
{
  if (this.is_popup)
    this.window.close();
  else
    this.cal.style.visibility = 'hidden';
  
  this.cal.document.forms[this.select_form_id]['day_sel'] = day;
  
  
  if (this.sel_year == curr_year && this.sel_month == curr_month && day > curr_day) day = curr_day; 
  
  
  var sel_date = new Date(this.sel_year, this.sel_month, day);
  if (this.handler) this.handler(this, sel_date);
}

function get_days_in_month(mon, yr)
{
  var month = new Number(mon);
  var year = new Number(yr);
  var mdays = [ [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31],
                [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] ];
  var isleap =
     (year % 4 == 0 && (year % 100 != 0 || year % 400 == 0)) ? 1 : 0;
  return mdays[isleap][month];
}

var cal1 = new calendar(true, self, my_date_selected, 510, 200);

var cal2 = new calendar(true, self, my_date_selected, 730, 200);

cal1.date_fld = 'datefrom';

cal2.date_fld = 'dateto';

function my_date_selected(cal, date)
{
  document.forms[0].elements[cal.date_fld].value =
    (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
    
  document.forms[0].elements["dayHold"].value = (date.getMonth() + 1);
  document.forms[0].elements["monthHold"].value = date.getDate();
  document.forms[0].elements["yearHold"].value = date.getFullYear();
  
}

function pop_cal1()
{

	document.forms[0].elements["flag"].value = "from";
	
	cal1.popup_cal();	
	
}

function pop_cal2()
{

	document.forms[0].elements["flag"].value = "to";
	
	cal2.popup_cal();

}
	//-->
</SCRIPT>


<head>


<title>DBPR - LASER AND AESTHETICS INSTITUTE OF THE PALM BEACHES, Cosmetology Course  Provider</title>
<meta name="ROBOTS" content="NOARCHIVE">
<meta name="Description" content="License Name: LASER AND AESTHETICS INSTITUTE OF THE PALM BEACHES; Cosmetology Course  Provider; License Status: Current; ; Location: 6779 INDIANTOWN ROAD, SUITE 25, JUPITER, FL 33458"
<!--***START TOP INCLULDE FILE***-->



<!-- <script language="JavaScript">function LaunchHelp() { // in a new window  window.open("http://bprtlcn04/help.htm",'','alwaysRaised=1,dependent=1,directories=0,height=400,hotkeys=0,location=0,menubar=0,resizable=1,screenX=200,screenY=200,scrollbars=0,status=1,toolbar=0,width=500');}</script> -->
<style type="text/css">
	<!--
	@media all
	{
	#main	{border:solid 4px #b5dea2;}
	A.main:link {color:"#0000FF"; text-decoration: none; font-size:10pt}
	A.main:visited {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.main:hover {color:"red"; text-decoration: none; font-size:10pt}
	
	A.log:link {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.log:visited {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.log:hover {color:"red"; text-decoration: none; font-size:10pt}
	
	A.footer:link {color:"#808080"; text-decoration: none; font-size:8pt}
	A.footer:visited {color:"#808080"; text-decoration: none; font-size:8pt}
	A.footer:hover {color:"0000ff"; text-decoration: none; font-size:8pt}

	td.main { line-height : 100% }
	td.main a:active { color : 052A73; text-decoration: none;  font-size:12pt}
	td.main a:link { color : 052A73; text-decoration: none;  font-size:12pt}
	td.main a:visited { color : A9A9A9; text-decoration: none;  font-size:12pt}
	td.main a:hover { color : 4682B4; text-decoration: none;  font-size:12pt}
	}
	
li {
font-size:.8em;
padding:3px;
}

li.list {
font-size:1em;
padding:3px;
}

th.list	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:.8em;
	text-align: left;
	padding:5px;
	background-color: #e3e3e3
}

td.list	{

	font-size:.8em;
	padding:3px;
}

td {
    color:rgb(16,26,88);
    font-family:verdana, arial, helvetica, sans-serif;
    font-size:.8em;
}

h1	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-top:0;
	margin-top:0px;
	margin-bottom:.5em;
	text-transform:uppercase; 
}

h2	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-bottom:.2em;
	padding-top:0;
	margin-bottom:0;
	margin-top:0;
}

th	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-bottom:.2em;
	padding-top:0;
	margin-bottom:0;
	margin-top:0;
}

a:link.hnav {
	color:white;
	text-decoration:none;
}

a:visited.hnav {
	color:white;
	text-decoration:none;
}

a:hover.hnav {
	text-decoration:underline;
	color:white;
}

a:active.hnav {
	text-decoration:underline;
	color:white;
}
	
a:link	{
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:visited	{
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:hover	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:active	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}
a.main:link {font-weight:normal;}
a.main:visited {font-weight:normal;}
a.main:hover {font-weight:normal;}
a.main:active {font-weight:normal;}

	#contact	{
	clear:both;
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	padding-top:10px;
	text-align:center;
	border-top: 2px dotted #d7ebff;
	width:99%;
    }
    .contact    {
    font-size:.75em;
    }
    #footer	{
	clear:both;
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:.55em;
	margin:auto;
	text-align:center;
	width:100%;
	padding-top:5px;
    }
	
	@media print
	{
	#main   {border:none; 
	               width: 7in;
	               margin-left: -.25in;}
	.leftNav {display:none;}
	.banner {display:none;}
	body	{background-image:none;
	        background-color:#ffffff;}
	-->
</style>



<BODY bgColor=#336699 background="/images/bg.gif" leftmargin="50" rightmargin="50">


<TABLE cellSpacing=0 cellPadding=0 width="100%" align=left border=0 bgcolor=#ffffff
LEFTMARGIN="0" id="main">
	<tr>
		<td>
			<table CELLSPACING="0" CELLPADDING="0" WIDTH="100%" ALIGN="CENTER" BORDER="0" VALIGN="top" bgcolor="ffffff">
  				<tr VALIGN="BOTTOM">	
					<!--BEGIN MY FLORIDA LOGO--> 
   					<td noWrap width="188px" valign="bottom" class="leftNav">
   					<table cellSpacing="0" cellPadding="0" width="100%" border="0">
   					<tr>
   						<td><a href="http://www.myfloridalicense.com/dbpr/"><img ALT="Click here to access the department's home page" SRC="/images/top_logo1.gif" BORDER="0" class="leftNav"></a></td>
					</tr>
					<tr bgcolor="#949CA9" align="left">
					<td>
					
						<a href="/logon.asp?SID=&Trans=Logoff" title="Click here to Log On or Log Off." class="log">
						<font face="verdana" size="2"><b>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/off.gif" border="0" align="absmiddle" alt="" class="leftNav">&nbsp;Log On</b></font></a>
					
					</td>
					</tr>
					</table>
					</td>
					<!--END MY FLORIDA LOGO-->
					<!--START BANNER & TOP NAV & LOGGED IN AS-->
					<td width="100%" bgcolor="#ffffff" class="banner">
						<table cellSpacing="0" cellPadding="0" width="100%" border="0">
							<tr>
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
								<td align="center">
									<img alt="Banner" src="/images/banner2.gif">
								</td>

							</tr>
							<tr bgcolor="#949CA9">
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
								<td align="center" nowrap>
									<a href="http://www.myfloridalicense.com/dbpr/" title="Click here to go to the DBPR Home Page." class="main">
										<font face="verdana" size="2"><b>Home</b></font></a></td>
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
							</tr>
						</table>
					</td>
					<!--END BANNER & TOP NAV & LOGGED IN AS-->
				</tr>
   				<tr VALIGN="TOP">
					<!--LEFT NAVIGATION-->
   					<td noWrap width="188px" class="leftNav" bgcolor="#b6c9dc">
						<table cellpadding="0" cellspacing="0" border="0" width="185px">
							<tr>

								<td BGCOLOR="#b6c9dc"><img SRC="/images/cntr_top_float_main.gif" border="0" width="186" valign="top" alt=""></td>
                			</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/wl11.asp?mode=0&SID=" title="Click here to search for an individual or organization."><font face="verdana">Search for a Licensee</font></a></font></td>
							</tr>
							
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/intentions2.asp?SID=" title="Click here to apply for a new license."><font face="verdana">Apply for a License</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/viewapps.asp?SID=" title="Click here to view your application status."><font face="verdana">View Application Status</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/examSchedule.asp?SID=" title="Click here to find out more information about your examination registration or the results."><font face="verdana">Find Exam Information</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/entercomplaint.asp?SID=" title="Click here to submit a complaint to the Department."><font face="verdana">File a Complaint</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/delinquency_search.asp?SID=" title="Click here to search the Alcoholic Beverages and Tobacco delinquency search"><font face="verdana">AB&amp;T Delinquent<br>&nbsp;&nbsp;&nbsp; Invoice &amp; Activity<br>&nbsp;&nbsp;&nbsp; List Search</font></a></font></td>
							</tr>
														<tr>

								<td BGCOLOR="#b6c9dc"><img height="50px" alt="" src="/images/cleardot.gif" border="0" /></td>
							</tr>
							
						</table>
					</td>

				
					<!--END LEFT NAV-->
<!--***END TOP INCLULDE FILE***-->


<td colspan="2" valign="TOP" width="100%">

<!--START LOGGED IN AS & TIME BAR-->
		<table cellspacing="0" cellpadding="0" width="100%" border="0">
			
			<tr>
        		<td colspan="2" nowrap bgcolor="#dbebf8"><img height="6" alt="Clear Dot Image" src="portal/images/cleardot.gif" width="10" border="0"></td>
			</tr>
			<tr>
				<td align="left" bgcolor="#dbebf8" class="subject">&nbsp;</td>
				<td align="right" bgcolor="#dbebf8"><font face="arial, helvetica, verdana" size="-2"><em>3:52:42 PM&nbsp;8/15/2017</em></font></td>
			</tr>
			<tr>
            	<td colspan="2" noWrap bgcolor="#dbebf8"><img height="6" alt="Clear Dot Image" src="portal/images/cleardot.gif" width="10" border="0"></td>
            </tr>
		</table>
	<!--END LOGGED IN AS & TIME BAR-->
<table cellspacing="0" cellpadding="0" width="100%" border="0">
		<tr>
			<td>
				<table cellspacing="0" cellpadding="5" border="0" width="100%" align="middle">
					<tr>
						<td align="middle">
						
						
<!--************************** INSERT MAIN CONTENT HERE ***************************-->										

<tr>
	<td>
		<br />
		<table cellspacing='0' cellpadding='2' width='100%' border='0'>
			<tr>
				<td align='left' width="32%"><font size='3' color='#336699'>
					<strong>Licensee Details</strong></font>
				</td>
		
			</tr>
		</table>
		<table cellspacing='0' cellpadding='1' width='100%' border='0' bgcolor=#b6c9dc>
		<tr>
			<td>
				<table cellspacing='0' cellpadding='0' width='100%' border='0' bgcolor=#b6c9dc>
					<tr>
						<td>
							
<table cellspacing="0" cellpadding="1" width="100%" border="0" bgcolor="#b6c9dc"><tr><td>
	<table width="100%" border="0" cellspacing="0" cellpadding="3"><tr>
		<td width="32%"><font face="verdana" size="-1"><b>Licensee Information</b></font></td>
	</tr></table>
	<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="#e9edf2">
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">Name:</font></td>
		<td width="48%">
			<font face="verdana" size="-1"><b>LASER AND AESTHETICS INSTITUTE OF THE PALM BEACHES&nbsp;<small>(Primary Name)</small></b></font></td>
    
	</tr>
	
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">Main Address:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b>3309 NORTHLAKE BLVD #101
		<br />PALM BEACH GARDENS&nbsp;&nbsp;Florida&nbsp;&nbsp;33403</b></font>
		</td>
	</tr>

	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">County:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b>PALM BEACH</b></font></td>
	</tr>
	
	

	<tr><td>&nbsp;</td></tr>
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">License Mailing:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b> 
		
		<br />&nbsp;&nbsp; &nbsp;&nbsp;</b></font></td>
		
	</tr>

	<tr><td>&nbsp;</td></tr>
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">LicenseLocation:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b>6779 INDIANTOWN ROAD, SUITE 25
		
		<br />JUPITER&nbsp;&nbsp; FL&nbsp;&nbsp; 33458</b></font></td>
		
	</tr>

	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">County:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b>PALM BEACH</b></font></td>
	</tr>

	</table>

</td></tr></table>
<table border="0" width="100%" bgcolor="#FFFFFF">
	<tr><td>&nbsp;</td></tr>
</table>
<table cellspacing="0" cellpadding="1" width="100%" border="0" bgcolor="#b6c9dc"><tr><td>
	<table width="100%" border="0" cellspacing="0" cellpadding="3"><tr>
		<td><font face="verdana" size="-1"><b>License Information</b></font></td>
	</tr></table>
	<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="#e9edf2">
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">License Type:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b>Cosmetology Course  Provider</b></font></td>
	</tr>
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">Rank:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b>Provider</b></font></td>
	</tr>
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">License Number:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b>PVD260</b></font></td>
	</tr>
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">Status:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b>Current</b></font></td>
	</tr>
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">Licensure Date:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b>02/12/2016</font></td>
	</tr>
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1">Expires:</font></td>
		<td width="68%"><font face="verdana" size="-1"><b>05/31/2019</b></font></td>
	</tr>
	</table>

<table border="0" width="100%" bgcolor="#FFFFFF">
	<tr><td>&nbsp;</td></tr>
	</table>
<table cellspacing="0" cellpadding="0" width="100%" border="0" bgcolor="#b6c9dc"><tr><td>
	<table width="100%" border="0" cellspacing="0" cellpadding="3"><tr>
		<td width="32%" valign="top"><font face="verdana" size="-1"><b>Special Qualifications</b></font></td>
							<td width="68%" valign="top"><font face="verdana" size="-1"><b>Qualification Effective</b></font></td>
							</tr></table>
	<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="#e9edf2">
						
						<tr>
							<td width="2%" height="20"><font size="1">&nbsp;</font></td>
							<td width="30%"><font face="verdana" size="-1"><b></b></font></td>
							<td width="68%"><font face="verdana" size="-1"><b></b></font></td>
						</tr>
					</table>
				</td></tr>
				
			</table>
			


</td></tr></table>




<table border="0" width="100%" bgcolor="#FFFFFF">
	<tr><td>&nbsp;</td></tr>
</table>
<table cellspacing="0" cellpadding="1" width="100%" border="0" bgcolor="#b6c9dc"><tr><td>
	<table width="100%" border="0" cellspacing="0" cellpadding="3"><tr>
<td><font face='verdana' size='-1'><b>Alternate Names</b></font></td>
	<!--	<td><font face="verdana" size="-1"><b>Alternate Names</b></font></td> -->
	</tr></table>
	<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="#e9edf2">
	<tr>
		<td width="2%" height="20"><font size="1">&nbsp;</font></td>
		<td width="30%" valign="top"><font face="verdana" size="-1"></font></td>
		<td width="68%"><table></table></td>
	</tr>
</table>
</td>
</tr>
</td></tr></table>

	        <table border="0" width="100%" bgcolor="#FFFFFF">
	            <tr><td>&nbsp;</td></tr>
            </table>


<br />
<!--Start Ticket 222127 Related Limited Service Clinics -->

<!--End Ticket 222127 Related Limited Service Clinics -->
<table border="0" width="100%" bgcolor="#FFFFFF">
<tr>
	<td><a href="licenseRelation.asp?SID=&licid=6339171"><font face="verdana">View Related License Information</font></a></td>
</tr>
</table>
<table border="0" width="100%" bgcolor="#FFFFFF">
<tr>
	<td><a href="viewcomplaint.asp?SID=&licid=6339171"><font face="verdana">View License Complaint</font></a></td>
</tr>


</table>



					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br />

		</td>
	</tr>
		
	
		
		
		
		
		</td>
	</tr>
</table>


</center>


<!--************************** *    END MAIN CONTENT HERE   ****************************-->

<!--***END MAIN BODY INSERT***-->
<!--***START BOTTOM INCLUDE FILE***-->
</td></tr></TABLE></tr><tr>
    <td bgcolor="#ffffff">
        <img height="24" src="/images/cleardot.gif" width="150" border="0"></td>
    <td bgcolor="#ffffff">
        <img height="24" src="/images/cleardot.gif" width="150" border="0"></td>
</tr>
<tr>
    <td colspan="3" align="center">
                    <div id="contact" class="contact">
                        <a target=_blank href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2601+Blair+Stone+Road,+Tallahassee+FL+32399&sll=30.425336,-84.248805&ie=UTF8&hq=&hnear=2601+Blair+Stone+Rd,+Tallahassee,+Florida+32301&ll=30.425336,-84.248805&z=16">2601 Blair Stone Road, Tallahassee FL 32399</a> 
                        :: Email: <a href="http://www.myfloridalicense.com/contactus">Customer Contact Center</a> :: Customer Contact Center: 850.487.1395</div></td>
                <td align="right" valign="bottom">
    </td>
</tr>
</TABLE><!--START DISCLAIMER--><table align="center">
    <tr align="CENTER">
        <td>
            <img height="2" src="/images/cleardot.gif" width="150" border="0"></td>
        <td>
            <!--***************************************************************************** * NAME:	footer.asp	** DESCRIPTION:	THIS PAGE CONTAINS THE DISCLAIMER.	* ******************************************************************************--><!-- BEGIN FOOTER -->
        </td>
    </tr>
</table>
<!-- END DISCLAIMER-->
</TD></tr></table></td></tr></table>
<div id="footer"><br />
	The State of Florida is an AA/EEO employer. <a href="http://www.myflorida.com/myflorida/copyright.html">Copyright 2007-2010 State of Florida.</a>  <a href="http://www.myflorida.com/myflorida/privacy.html">Privacy Statement</a><!-- :: Site Map--><br />	    <br />
	    Under Florida law, email addresses are public records. If you do not want your email address released in response to a public-records request, do not send electronic mail to this entity. Instead, contact the office by phone or by traditional mail. 
	    If you have any questions, please contact 850.487.1395.  *Pursuant to Section 455.275(1), Florida Statutes, effective October 1, 2012, licensees licensed under Chapter 455, F.S. must provide the Department with an email address if they have one.  
	    The emails provided may be used for official communication with the licensee.  However email addresses are public record. If you do not wish to supply a personal address, please provide the Department with an email address which can be made available to the public.  
	    Please see our <a href="http://www.myfloridalicense.com/dbpr/DBPR_Chapter455_FloridaStatutes.html">Chapter 455</a> page to determine if you are affected by this change.
</div>
</body></html><!--***END BOTTOM INCLUDE FILE***-->