
<head><title>Licensing Portal - License Search</title>
<style type="text/css">BODY { font-family: "new century schoolbook", serif } BUTTON { outline-width : thick } INPUT.hours {font-family: "verdana", sans-serif; font-weight: normal; outline-width : thick; outline-color: red; }</style>

			


<script language="JavaScript">


function MessageBuild(m,t) 
{
 	if (t!="") 
	{
    		if (m=="") 
       			m = t;
    		else
       			m = m + "\n" + t;
 	};
 	return m;
}

function LeftTrim(String,TrimChar)
{
 	String += "";         // Force argument to string.
 	TrimChar += ""       // Force argument to string.
 	if((TrimChar == "") || (!(TrimChar.length == 1)))
  		TrimChar = " "
 	if(String.length == 0)
  		return(String)
 	var Count = 0
 	for(Count = 0;Count < String.length;Count++)
 	{
  		if(!(String.charAt(Count) == TrimChar))
   			return(String.substring(Count,String.length))
 	}
 	return("")
}


function RightTrim(String,TrimChar)
{
 	String += ""        // Force argument to string.
 	TrimChar += ""      // Force argument to string.
 	if((TrimChar == "") || (!(TrimChar.length == 1)))
  	TrimChar = " "
 	if(String.length == 0)
  		return(String)
 	var Count = 0
 	for(Count = String.length -1;Count >= 0;Count--)
 	{
  		if(!(String.charAt(Count) == TrimChar))
   			return(String.substring(0,Count + 1))
 	}
 	return("")
}


function AllTrim(String,TrimChar)
{
 	String += ""        // Force argument to string.
 	TrimChar += ""      // Force argument to string.
 	if((TrimChar == "") || (!(TrimChar.length == 1)))
  		TrimChar = " "
 	return(RightTrim(LeftTrim(String,TrimChar),TrimChar))
}

function changeAddrDropDown() //Change the Address Type Drop Down Based on User Entry
{
	var formName = document.forms["reportForm"];
	var sBoardType = formName.hBoardType.value;
	if (sBoardType != "H")
	{
		if (formName.LastName.value.length > 0) //Validate Last Name
		{
			formName.AddrType.options[0].selected = true;
		}
		else
		{
			if (formName.OrgName.value.length > 0) //Validate Organization Name
			{
				formName.AddrType.options[1].selected = true;
			}
			else
			{
				formName.AddrType.options[1].selected = true;
			}
		}
	}
}

function validate() //Client side validation for search parameters
{
	var formName = document.forms["reportForm"];
	//Contains Search Types: Name, LicNbr, City, LicType
	var SearchType = formName.hSearchType.value;
	var sBoardType = formName.hBoardType.value;
	var ErrorMsg = ""

	//Validate Name Search
	if (SearchType == "Name")
	{
	//	if (sBoardType == "H") //Organization Search H&R
	//	{
	//		if (formName.OrgName.value.length <= 0) //Validate Organization Name
	//		{
	//			ErrorMsg = ErrorMsg + "; Establishment Name";
	//			alert("The Following Field(s) Are Required: " + ErrorMsg);
	//			return(false);
	//		}
	//		else
	//		{
	//			return(true);
	//		}
	//	}
	//	if (sBoardType != "H")
	//	{
			if (formName.LastName.value.length <= 0 && formName.FirstName.value.length <= 0) //Validate No First and Last Name
			{
				if (formName.OrgName.value.length <= 0) //Validate Organization Name
				{
					if (ErrorMsg.length > 0)
						ErrorMsg = ErrorMsg + "; First Name, Last Name, OR Organization Name";
					else
						ErrorMsg = "First Name, Last Name, OR Organization Name";
				}
			}
			//else
			//{
			//	if (formName.FirstName.value.length <= 0) //Validate First Name
			//	{
			//		if (ErrorMsg.length > 0)
			//			ErrorMsg = ErrorMsg + "; First Name";
			//		else
			//			ErrorMsg = "First Name";
			//	}
			//}
	//	}
		if (ErrorMsg.length > 0) //If there were any required fields missing display error message
		{
			alert("The Following Field(s) Are Required: " + ErrorMsg);
			return(false);
		}
		else
			return(true);

	}

	//Validate LicNbr Search
	if (SearchType == "LicNbr")
	{
		if (formName.LicNbr.value.length <= 0) //Validate License Number
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; License Number";
			else
				ErrorMsg = "License Number";
		}
		if (ErrorMsg.length > 0) //If there were any required fields missing display error message
		{
			alert("The Following Field(s) Are Required: " + ErrorMsg);
			return(false);
		}
		else
			return(true);
	}
	

	//Validate Location 
	if (SearchType == "City" || SearchType == "LicTyp")
	{
		//if (formName.Division.value.length <= 0) //Validate Division
		//{
		//	if (ErrorMsg.length > 0)
		//		ErrorMsg = ErrorMsg + "; Division";
		//	else
		//		ErrorMsg = "Division";
		//}
		if (formName.Board.value.length <= 1) //Validate Board
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; License Category";
			else
				ErrorMsg = "License Category";
		}
		if (formName.LicenseType.value.length <= 1) //Validate License Type
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; License Type";
			else
				ErrorMsg = "License Type";
		}
		//if (formName.AddrType.value.length <= 0) //Validate Address Type
		//{
		//	if (ErrorMsg.length > 0)
		//		ErrorMsg = ErrorMsg + "; Address Type";
		//	else
		//		ErrorMsg = "Address Type";
		//}
		if (formName.County.value.length <= 0 && formName.City.value.length <= 0 && formName.State.value != "NA") //Validate County and City
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; City or County";
			else
				ErrorMsg = "City or County";
		}
		if (formName.State.value.length <= 0) //Validate State
		{
			if (ErrorMsg.length > 0)
				ErrorMsg = ErrorMsg + "; State";
			else
				ErrorMsg = "State";
		}
		if (ErrorMsg.length > 0) //If there were any required fields missing display error message
		{
			alert("The Following Field(s) Are Required: " + ErrorMsg);
			return(false);
		}
		else
			return(true);
	}

  return true; //Complete Validation
}

function ValidateSearch() //Set the hidden field based on radio button selected on first page
{
	var formName = document.forms["reportForm"];
	//Contains Search Types: Name, LicNbr, City, LicType
	var sSearchType;
	var sSID = formName.hSID.value;
	var sBoardType = formName.hBoardType.value;
	sSearchType = "Name";
	if (formName.SearchType[0].checked) //Check to see if Name Search was selected
	{
		sSearchType = "Name";
	}
	if (formName.SearchType[1].checked) //Check to see if License Number Search was selected
	{
		sSearchType = "LicNbr";
	}
	if (sBoardType != "H") //Check to see if Hotels and Restaurants Search (Don't check City or Lic Type)
	{
		if (formName.SearchType[2].checked) //Check to see if City Search was selected
		{
			sSearchType = "City";
		}
		if (formName.SearchType[3].checked) //Check to see if License Type Search was selected
		{
			sSearchType = "LicTyp";
		}
	}
	//Go to the same page in the next mode with search type and board populated
	document.location.href = "wl11.asp?mode=1&search=" + sSearchType + "&SID=" + sSID + "&brd=" + sBoardType;
}

function DDChange() //Cause form to post and set flag to not advance to next page
{
	var formName = document.forms["reportForm"]; //Get form 
	formName.hDDChange.value = "Y"; //Set drop down list flag 
	formName.submit(); //Submit the form
}

function ChangePage(sAction) //Set flag for change page action for server side processing
{
	var formName = document.forms["reportForm"];

	if(sAction==1) //Go to Page
	{
		formName.hPageAction.value = "1";
	}
	if(sAction==2) //First Page
	{
		formName.hPageAction.value = "2";
	}
	if(sAction==3) //Previous Page
	{
		formName.hPageAction.value = "3";
	}
	if(sAction==4) //Next Page
	{
		formName.hPageAction.value = "4";
	}
	if(sAction==5) //Last Page
	{
		formName.hPageAction.value = "5";
	}
	if(sAction==6) //Last Page
	{
		formName.hPageAction.value = "NS";
	}
	return(true);
}


</script>


<!--***START MAIN BODY INSERT***-->	
<!--***START TOP INCLULDE FILE***-->



<!-- <script language="JavaScript">function LaunchHelp() { // in a new window  window.open("http://bprtlcn04/help.htm",'','alwaysRaised=1,dependent=1,directories=0,height=400,hotkeys=0,location=0,menubar=0,resizable=1,screenX=200,screenY=200,scrollbars=0,status=1,toolbar=0,width=500');}</script> -->
<style type="text/css">
	<!--
	@media all
	{
	#main	{border:solid 4px #b5dea2;}
	A.main:link {color:"#0000FF"; text-decoration: none; font-size:10pt}
	A.main:visited {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.main:hover {color:"red"; text-decoration: none; font-size:10pt}
	
	A.log:link {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.log:visited {color:"#ffffff"; text-decoration: none; font-size:10pt}
	A.log:hover {color:"red"; text-decoration: none; font-size:10pt}
	
	A.footer:link {color:"#808080"; text-decoration: none; font-size:8pt}
	A.footer:visited {color:"#808080"; text-decoration: none; font-size:8pt}
	A.footer:hover {color:"0000ff"; text-decoration: none; font-size:8pt}

	td.main { line-height : 100% }
	td.main a:active { color : 052A73; text-decoration: none;  font-size:12pt}
	td.main a:link { color : 052A73; text-decoration: none;  font-size:12pt}
	td.main a:visited { color : A9A9A9; text-decoration: none;  font-size:12pt}
	td.main a:hover { color : 4682B4; text-decoration: none;  font-size:12pt}
	}
	
li {
font-size:.8em;
padding:3px;
}

li.list {
font-size:1em;
padding:3px;
}

th.list	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:.8em;
	text-align: left;
	padding:5px;
	background-color: #e3e3e3
}

td.list	{

	font-size:.8em;
	padding:3px;
}

td {
    color:rgb(16,26,88);
    font-family:verdana, arial, helvetica, sans-serif;
    font-size:.8em;
}

h1	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-top:0;
	margin-top:0px;
	margin-bottom:.5em;
	text-transform:uppercase; 
}

h2	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-bottom:.2em;
	padding-top:0;
	margin-bottom:0;
	margin-top:0;
}

th	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	padding-bottom:.2em;
	padding-top:0;
	margin-bottom:0;
	margin-top:0;
}

a:link.hnav {
	color:white;
	text-decoration:none;
}

a:visited.hnav {
	color:white;
	text-decoration:none;
}

a:hover.hnav {
	text-decoration:underline;
	color:white;
}

a:active.hnav {
	text-decoration:underline;
	color:white;
}
	
a:link	{
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:visited	{
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:hover	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}

a:active	{
	color:rgb(16,26,88);
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}
a.main:link {font-weight:normal;}
a.main:visited {font-weight:normal;}
a.main:hover {font-weight:normal;}
a.main:active {font-weight:normal;}

	#contact	{
	clear:both;
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	padding-top:10px;
	text-align:center;
	border-top: 2px dotted #d7ebff;
	width:99%;
    }
    .contact    {
    font-size:.75em;
    }
    #footer	{
	clear:both;
	color:rgb(77,87,122);
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:.55em;
	margin:auto;
	text-align:center;
	width:100%;
	padding-top:5px;
    }
	
	@media print
	{
	#main   {border:none; 
	               width: 7in;
	               margin-left: -.25in;}
	.leftNav {display:none;}
	.banner {display:none;}
	body	{background-image:none;
	        background-color:#ffffff;}
	-->
</style>



<BODY bgColor=#336699 background="/images/bg.gif" leftmargin="50" rightmargin="50">


<TABLE cellSpacing=0 cellPadding=0 width="100%" align=left border=0 bgcolor=#ffffff
LEFTMARGIN="0" id="main">
	<tr>
		<td>
			<table CELLSPACING="0" CELLPADDING="0" WIDTH="100%" ALIGN="CENTER" BORDER="0" VALIGN="top" bgcolor="ffffff">
  				<tr VALIGN="BOTTOM">	
					<!--BEGIN MY FLORIDA LOGO--> 
   					<td noWrap width="188px" valign="bottom" class="leftNav">
   					<table cellSpacing="0" cellPadding="0" width="100%" border="0">
   					<tr>
   						<td><a href="http://www.myfloridalicense.com/dbpr/"><img ALT="Click here to access the department's home page" SRC="/images/top_logo1.gif" BORDER="0" class="leftNav"></a></td>
					</tr>
					<tr bgcolor="#949CA9" align="left">
					<td>
					
						<a href="/logon.asp?SID=&Trans=Logoff" title="Click here to Log On or Log Off." class="log">
						<font face="verdana" size="2"><b>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/off.gif" border="0" align="absmiddle" alt="" class="leftNav">&nbsp;Log On</b></font></a>
					
					</td>
					</tr>
					</table>
					</td>
					<!--END MY FLORIDA LOGO-->
					<!--START BANNER & TOP NAV & LOGGED IN AS-->
					<td width="100%" bgcolor="#ffffff" class="banner">
						<table cellSpacing="0" cellPadding="0" width="100%" border="0">
							<tr>
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
								<td align="center">
									<img alt="Banner" src="/images/banner2.gif">
								</td>

							</tr>
							<tr bgcolor="#949CA9">
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
								<td align="center" nowrap>
									<a href="http://www.myfloridalicense.com/dbpr/" title="Click here to go to the DBPR Home Page." class="main">
										<font face="verdana" size="2"><b>Home</b></font></a></td>
								<td><img height="17" alt="" src="/images/cleardot.gif" border="0"></td>
							</tr>
						</table>
					</td>
					<!--END BANNER & TOP NAV & LOGGED IN AS-->
				</tr>
   				<tr VALIGN="TOP">
					<!--LEFT NAVIGATION-->
   					<td noWrap width="188px" class="leftNav" bgcolor="#b6c9dc">
						<table cellpadding="0" cellspacing="0" border="0" width="185px">
							<tr>

								<td BGCOLOR="#b6c9dc"><img SRC="/images/cntr_top_float_main.gif" border="0" width="186" valign="top" alt=""></td>
                			</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/wl11.asp?mode=0&SID=" title="Click here to search for an individual or organization."><font face="verdana">Search for a Licensee</font></a></font></td>
							</tr>
							
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/intentions2.asp?SID=" title="Click here to apply for a new license."><font face="verdana">Apply for a License</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/viewapps.asp?SID=" title="Click here to view your application status."><font face="verdana">View Application Status</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/examSchedule.asp?SID=" title="Click here to find out more information about your examination registration or the results."><font face="verdana">Find Exam Information</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/entercomplaint.asp?SID=" title="Click here to submit a complaint to the Department."><font face="verdana">File a Complaint</font></a></font></td>
							</tr>
							<tr>

								<td BGCOLOR="#b6c9dc"><font size="-1">&nbsp;&nbsp;&nbsp;<a class="main" href="/delinquency_search.asp?SID=" title="Click here to search the Alcoholic Beverages and Tobacco delinquency search"><font face="verdana">AB&amp;T Delinquent<br>&nbsp;&nbsp;&nbsp; Invoice &amp; Activity<br>&nbsp;&nbsp;&nbsp; List Search</font></a></font></td>
							</tr>
														<tr>

								<td BGCOLOR="#b6c9dc"><img height="50px" alt="" src="/images/cleardot.gif" border="0" /></td>
							</tr>
							
						</table>
					</td>

				
					<!--END LEFT NAV-->
<!--***END TOP INCLULDE FILE***-->
<body>
	<td colspan="2" valign="top">
		<!--START LOGGED IN AS & TIME BAR-->
		<table cellSpacing="0" cellPadding="0" width="100%" border="0">
			<tr>
	    			<td COLSPAN="2" noWrap bgColor="#dbebf8"><img height="6" alt="Clear Dot Image" src="portal/images/cleardot.gif" width="10" border="0"></td>
			</tr>
			<tr>
				<td align="left" bgcolor="#dbebf8" class="subject">&nbsp;</td>
				<td align="right" bgcolor="#dbebf8"><font face="arial, helvetica, verdana" size="-2"><em>5:46:00 AM&nbsp;8/18/2017</em></font></td>
			</tr>
			<tr>
		        	<td COLSPAN="2" noWrap bgColor="#dbebf8"><img height="6" alt="Clear Dot Image" src="portal/images/cleardot.gif" width="10" border="0"></td>
        		</tr>
		</table>
		<!--END LOGGED IN AS & TIME BAR-->
		<table cellSpacing="0" cellPadding="0" width="100%" border="1">
			<tr></tr>
		</table>
<form method="post" name="reportForm"  onSubmit="return validate();" action="wl11.asp?mode=3&search=&SID=&brd=&typ=N">	
		<table cellspacing="0" cellpadding="5" border="0" width="100%" align="center">
			<tr>
				<td align="middle">
					<table width="100%" border="0" align="left" cellspacing="0" cellpadding="3">
						<tr>
							<td colspan="2">
								<input TYPE="hidden" NAME="hSID" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchType" VALUE=""/>
								<input TYPE="hidden" NAME="hLastName" VALUE=""/>
								<input TYPE="hidden" NAME="hFirstName" VALUE=""/>
								<input TYPE="hidden" NAME="hMiddleName" VALUE=""/>
								<input TYPE="hidden" NAME="hOrgName" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchOpt" VALUE="Organization"/>
								<input TYPE="hidden" NAME="hSearchOpt2" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchAltName" VALUE="Alt"/>
								<input TYPE="hidden" name="hSearchPartName" value=""/>
								<input TYPE="hidden" name="hSearchFuzzy" value=""/>
								<input TYPE="hidden" NAME="hDivision" VALUE=""/>
								<input TYPE="hidden" NAME="hBoard" VALUE="400"/>
								<input TYPE="hidden" NAME="hLicenseType" VALUE="4001"/>
								<input TYPE="hidden" NAME="hSpecQual" VALUE=""/>
								<input TYPE="hidden" NAME="hAddrType" VALUE=""/>
								<input TYPE="hidden" NAME="hCity" VALUE=""/>
								<input TYPE="hidden" NAME="hCounty" VALUE="79"/>
								<input TYPE="hidden" NAME="hState" VALUE="VA"/>
								<input TYPE="hidden" NAME="hLicNbr" VALUE=""/>
								<input TYPE="hidden" NAME="hAction"/>
								<input TYPE="hidden" NAME="hCurrPage" VALUE="2"/>
								<input TYPE="hidden" NAME="hTotalPages" VALUE="3"/>
								<input TYPE="hidden" NAME="hTotalRecords" VALUE="22"/>
								<input TYPE="hidden" NAME="hPageAction"/>
								<input TYPE="hidden" NAME="hDDChange"/>
								<input TYPE="hidden" NAME="hBoardType" VALUE=""/>
								<input TYPE="hidden" NAME="hLicTyp" VALUE=""/>
								<input TYPE="hidden" NAME="hSearchHistoric" VALUE=""/>
								<input TYPE="hidden" NAME="hRecsPerPage" VALUE="10"/>
								<font face="verdana" SIZE="-1" color="Red">
								<strong></strong>
								</font>
							</td>
						</tr>
<tr><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><p/><center><b>Data Contained In Search Results Is Current As Of 08/18/2017 05:43 AM.</b></center><p/></font></td></tr>
						<tr>
							<td colspan="2">
								<font face="verdana" SIZE="-1" color="#336699">
									<strong>
										Search Results
									</strong>
									<p/>
								</font>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<font face="verdana" SIZE="-1" color="#000000">
									<strong>
										Please see our <a href="/glossary.asp?SID=">glossary of terms</a> for an explanation of the license status shown in these search results.
									</strong>
									<p/>
								</font>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<font face="verdana" SIZE="-1" color="#000000">
									<strong>
										For additional information, including any complaints or discipline, click on the name.
									</strong>
									<p/>
								</font>
							</td>
						</tr>
						<tr>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="4" bgcolor="#b6c9dc">
									<tr height="20">
	
										<td colspan="1" width="20%" align="center">
											<font face="verdana" color="#000000" size="-1">
												<span title="This column represents the type of license held by the individual or establishment."><strong>License Type</strong></span>
											</font>
										</td>		
	
									
										<td align="center">
											<font face="verdana" color="#000000" size="-1">
												<span title="This column represents the name of the individual or establishment that holds the license."><strong>Name</strong></span>
											</font>
										</td>
									
										<td align="center">
											<font face="verdana" color="#000000" size="-1">
												<span title="This column represents the type of name being displayed, such as DBA (Doing Business As)."><strong>Name<br/>Type</strong></span>
											</font>
										</td>
									
										<td align="center">
											<font face="verdana" color="#000000" size="-1">
												<span title="This column represents the license number and type of license held by the individual or establishment."><strong>License<br/>Number/<br/>Rank</strong></span>
											</font>
										</td>
								
										<td align="center">
											<font face="verdana" color="#000000" size="-1">
												<span title="This column represents the license status and expiration date of the license held by the individual or establishment."><strong>Status/Expires</strong></span>
											</font>
										</td>
	
									</tr>
									
								
								
									<tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Tobacco Wholesaler's, Distributors & Exporters</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=D3255E075D9744A4CE26C460049A4D79'>S & M BRANDS INC</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>DBA</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>WDE7900293<br/>CWD</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Current, Active<br/>07/01/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the place of business is physically located.'><b>License Location Address*:&nbsp;&nbsp;&nbsp;</b></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD  KEYSVILLE, VA 23947</font></td></tr><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD  KEYSVILLE, VA 23947</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Tobacco Wholesaler's, Distributors & Exporters</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=06557859E57C309F8192D17C1CF27A72'>S & M BRANDS INC</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>DBA</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>WDE7900334<br/>TWD</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>07/01/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the place of business is physically located.'><b>License Location Address*:&nbsp;&nbsp;&nbsp;</b></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD  KEYSVILLE, VA 23947</font></td></tr><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD  KEYSVILLE, VA 23947</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Tobacco Wholesaler's, Distributors & Exporters</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=D3255E075D9744A4CE26C460049A4D79'>S & M BRANDS INC</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>WDE7900293<br/>CWD</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Current, Active<br/>07/01/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the place of business is physically located.'><b>License Location Address*:&nbsp;&nbsp;&nbsp;</b></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD  KEYSVILLE, VA 23947</font></td></tr><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD  KEYSVILLE, VA 23947</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Tobacco Wholesaler's, Distributors & Exporters</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=06557859E57C309F8192D17C1CF27A72'>S & M BRANDS INC</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>WDE7900334<br/>TWD</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>07/01/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the place of business is physically located.'><b>License Location Address*:&nbsp;&nbsp;&nbsp;</b></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD  KEYSVILLE, VA 23947</font></td></tr><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD  KEYSVILLE, VA 23947</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Tobacco Wholesaler's, Distributors & Exporters</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=E9CD5388702D4D92A866976DD92DD192'>S & M BRANDS INC</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>WDE7900231<br/>CMFG</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Current, Active<br/>07/01/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the place of business is physically located.'><b>License Location Address*:&nbsp;&nbsp;&nbsp;</b></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD, SUITE B  KEYSVILLE, VA 23947</font></td></tr><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD  KEYSVILLE, VA 23947</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Tobacco Wholesaler's, Distributors & Exporters</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=E9CD5388702D4D92A866976DD92DD192'>S & M BRANDS INC</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>DBA</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>WDE7900231<br/>CMFG</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>07/01/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the place of business is physically located.'><b>License Location Address*:&nbsp;&nbsp;&nbsp;</b></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD, SUITE B  KEYSVILLE, VA 23947</font></td></tr><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>3662 ONTARIO ROAD  KEYSVILLE, VA 23947</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Tobacco Wholesaler's, Distributors & Exporters</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=244ABBDE78331EC5E1A9564BF02EE353'>SOUTHERN CROSS TOBACCO COMPANY INC</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>WDE7900227<br/>TWD</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Current, Active<br/>07/01/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the place of business is physically located.'><b>License Location Address*:&nbsp;&nbsp;&nbsp;</b></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>3126 WEST CAREY STREET  RICHMOND, VA 23221</font></td></tr><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>3126 WEST CAREY STREET  RICHMOND, VA 23221</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Tobacco Wholesaler's, Distributors & Exporters</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=AACF3862B0D1A9499A71610BD245648D'>SUTLIFF TOBACCO COMPANY, LLC</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Primary</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>WDE7900448<br/>TWD</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>07/01/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the place of business is physically located.'><b>License Location Address*:&nbsp;&nbsp;&nbsp;</b></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>600 PERDUE AVENUE  RICHMOND, VA 23224</font></td></tr><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>P. O. BOX 24508  RICHMOND, VA 23224</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Tobacco Wholesaler's, Distributors & Exporters</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=AACF3862B0D1A9499A71610BD245648D'>SUTLIFF TOBACCO COMPANY, LLC</a></font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>DBA</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>WDE7900448<br/>TWD</font></td><td colspan='1' align='center' bgcolor='#ffffff'><font face=verdana color=#000000 size=-1>Current, Active<br/>07/01/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#ffffff'><table><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the place of business is physically located.'><b>License Location Address*:&nbsp;&nbsp;&nbsp;</b></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>600 PERDUE AVENUE  RICHMOND, VA 23224</font></td></tr><tr><td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#ffffff'><font face=verdana color=#000000 size='-2'>P. O. BOX 24508  RICHMOND, VA 23224</font></td></tr></table></td></tr><tr height='40'><td colspan='1' width='20%' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Tobacco Wholesaler's, Distributors & Exporters</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1><a href='LicenseDetail.asp?SID=&id=244ABBDE78331EC5E1A9564BF02EE353'>SX BRANDS</a></font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>DBA</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>WDE7900227<br/>TWD</font></td><td colspan='1' align='center' bgcolor='#e9edf2'><font face=verdana color=#000000 size=-1>Current, Active<br/>07/01/2018</font></td><tr height='40'> <td colspan='6' align='left' bgcolor='#e9edf2'><table><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the address where the place of business is physically located.'><b>License Location Address*:&nbsp;&nbsp;&nbsp;</b></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>3126 WEST CAREY STREET  RICHMOND, VA 23221</font></td></tr><tr><td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span title='This is the primary address on file for this individual or establishment.'><b>Main Address*:</b></span></font></td> <td align='left' bgcolor='#e9edf2'><font face=verdana color=#000000 size='-2'>3126 WEST CAREY STREET  RICHMOND, VA 23221</font></td></tr></table></td></tr>
									<tr>
										<td colspan="7" align="right" bgcolor="#FFFFFF">
											<font face="verdana" SIZE="-1" color="#000000">
												Page 2 of 3 
												<input name="Page" size="5" tabindex="1"  maxlength="4">
												<input type="image" name="SearchGo" tabindex="2" src="portal/images/goButton.gif" value="Search" alt="Click here to use go to the selected page." onClick="return ChangePage(1);" border="0">
												<input type="image" name="SearchFirst" tabindex="3"  src="portal/images/doubleArrowLeftButton.gif" value="Search" alt="Click here to use go to the first page." onClick="return ChangePage(2);" border="0">
												<input type="image" name="SearchBack" tabindex="4" src="portal/images/singleArrowLeftButton.gif" value="Search" alt="Click here to use go back one page." onClick="return ChangePage(3);" border="0">
												<input type="image" name="SearchForward" tabindex="5" src="portal/images/singleArrowRightButton.gif" value="Search" alt="Click here to use go forward one page." onClick="return ChangePage(4);" border="0">
												<input type="image" name="SearchLast" tabindex="6" src="portal/images/doubleArrowRightButton.gif" value="Search" alt="Click here to use go to the last page." onClick="return ChangePage(5);" border="0">
												<input type="image" name="SearchRefine" tabindex="7" src="portal/images/backButton.gif" value="Search" alt="Click here to refine your search options." onClick="return ChangePage(6);" border="0">
												<a href="wl11.asp?mode=0&SID=&brd=&typ=N" alt="Click here to perform a new search."><img src="portal/images/newSearchButton.gif" border="0"/></a>
											</font>

										</td>
									</tr>
	
									<tr>
										<td colspan="7" align="left" bgcolor="#FFFFFF">
											<font face="verdana" SIZE="-2" color="#000000">
												<b>* denotes </b><br/>
												&nbsp;&nbsp;&nbsp;&nbsp; Main Address - This address is the Primary Address on file.<br/>
				 								&nbsp;&nbsp;&nbsp;&nbsp; Mailing Address - This is the address where the mail associated with a particular license will be sent (if different from the Main or License Location addresses). <br/> 
												&nbsp;&nbsp;&nbsp;&nbsp; License Location Address - This is the address where the place of business is physically located.<br/>
 
											</font>
										</td>
									</tr>

								</table>
							</td>
						</tr>					
			


</tr>

					</table>
</form>
<!--***************************    END MAIN CONTENT HERE   ****************************-->
<!--***END MAIN BODY INSERT***-->
<!--***START BOTTOM INCLUDE FILE***-->
</td></tr></TABLE></tr><tr>
    <td bgcolor="#ffffff">
        <img height="24" src="/images/cleardot.gif" width="150" border="0"></td>
    <td bgcolor="#ffffff">
        <img height="24" src="/images/cleardot.gif" width="150" border="0"></td>
</tr>
<tr>
    <td colspan="3" align="center">
                    <div id="contact" class="contact">
                        <a target=_blank href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2601+Blair+Stone+Road,+Tallahassee+FL+32399&sll=30.425336,-84.248805&ie=UTF8&hq=&hnear=2601+Blair+Stone+Rd,+Tallahassee,+Florida+32301&ll=30.425336,-84.248805&z=16">2601 Blair Stone Road, Tallahassee FL 32399</a> 
                        :: Email: <a href="http://www.myfloridalicense.com/contactus">Customer Contact Center</a> :: Customer Contact Center: 850.487.1395</div></td>
                <td align="right" valign="bottom">
    </td>
</tr>
</TABLE><!--START DISCLAIMER--><table align="center">
    <tr align="CENTER">
        <td>
            <img height="2" src="/images/cleardot.gif" width="150" border="0"></td>
        <td>
            <!--***************************************************************************** * NAME:	footer.asp	*
* DESCRIPTION:	THIS PAGE CONTAINS THE DISCLAIMER.	* ******************************************************************************-->
<!-- BEGIN FOOTER -->
        </td>
    </tr>
</table>
<!-- END DISCLAIMER-->
</TD></tr></table></td></tr></table>
<div id="footer"><br />
	The State of Florida is an AA/EEO employer. <a href="http://www.myflorida.com/myflorida/copyright.html">Copyright 2007-2010 State of Florida.</a>  <a href="http://www.myflorida.com/myflorida/privacy.html">Privacy Statement</a><!-- :: Site Map--><br />	    <br />
	    Under Florida law, email addresses are public records. If you do not want your email address released in response to a public-records request, do not send electronic mail to this entity. Instead, contact the office by phone or by traditional mail. 
	    If you have any questions, please contact 850.487.1395.  *Pursuant to Section 455.275(1), Florida Statutes, effective October 1, 2012, licensees licensed under Chapter 455, F.S. must provide the Department with an email address if they have one.  
	    The emails provided may be used for official communication with the licensee.  However email addresses are public record. If you do not wish to supply a personal address, please provide the Department with an email address which can be made available to the public.  
	    Please see our <a href="http://www.myfloridalicense.com/dbpr/DBPR_Chapter455_FloridaStatutes.html">Chapter 455</a> page to determine if you are affected by this change.
</div>
</body></html><!--***END BOTTOM INCLUDE FILE***-->

</table>

</body>
</html>
